{% extends 'base.html' %}


{% block content %}
<h1>View/Update Volunteer</h1>

<form id='scheduledeventform' action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="row form-group">
        {% with field=form.fname, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.lname, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>

    <div class="row form-group">
        {% with field=form.scaname, required=false %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>

    <div class="row form-group">
        {% with field=form.lodging, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.kingdom, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>

    <div class="row">
        <div class="col">
            {{form.submit(class_='btn save form-control btn-primary btn-lg')}}
        </div>
    </div>
</form>

</div>

{% endblock %}

{% block script %}

{% endblock %}