{% extends 'base_restricted.html' %}


{% block content %}
<h1>Create Early On Request</h1>
<div class="row">
    <div class="col">
        <p>Use this form to request an Early On at Gulf Wars. Please fill out all required fields.</p>
    </div>
<div class="row" style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
    <div class="col">
        <p>You will receive an email confirmation of your application. This is not an acceptance email.</p>

        <p>If you don't get the auto response email, your application did not go through.  (Don't forget to check your spam folder)</p>
    </div>
</div>
<div class="row" style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
    <div class="col">
        <p>Staff receive 1 adult rider for FREE. To add an additional rider will be $15 per adult.</p>
        <p>Merchants receive 2 adult rider for FREE. To add an additional rider will be $15 per adult.</p>
    </div>
</div>


<form id='earlyonform' action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{reg.fname}}
            </p>
        </div> 
        <div class="col form-group">
            <p>
                {{reg.lname}}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{reg.email}}
            </p>
        </div> 
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.arrival_date.label }} <span style="color: red;">*</span>
                {{ form.arrival_date(class_='form-control m-0') }}
                {% if form.arrival_date.errors %}{% for error in form.arrival_date.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>  
        <div class="col form-group">
            <p>
                {{ form.department.label }} <span style="color: red;">*</span>
                {{ form.department(class_='form-control m-0') }}
                {% if form.department.errors %}{% for error in form.department.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.notes.label }}
                {{ form.notes(class_='form-control m-0') }}            
            </p>
        </div>  
    </div>

    {% for rider in form.riders %}
    <div>
        <div class="row form-group">
            <div class="col form-group">
                    <h4>Rider {{loop.index0 + 1}}</h4>
                    <div class="row form-group">
                        <div class="col form-group">
                            <p>
                                {{ rider.fname.label }}
                                {{ rider.fname(class_='form-control m-0') }}
                            </p>
                        </div>
                        <div class="col form-group">
                            <p>
                                {{ rider.lname.label }}
                                {{ rider.lname(class_='form-control m-0') }}
                            </p>
                        </div>
                        <div class="col form-group">
                            <p>
                                {{ rider.scaname.label }}
                                {{ rider.scaname(class_='form-control m-0') }}
                            </p>
                        </div>
                        <div class="col form-group">
                            <p>
                                {{ rider.regid.label }}
                                {{ rider.regid(class_='form-control m-0') }}
                            </p>
                        </div>
                        <div class="col form-group">
                            <p>
                                {{ rider.minor.label }}
                                {{ rider.minor(class_='form-check-input big-checkbox') }}
                            </p>
                        </div>
                        <div class="col form-group">
                            <br/>
                            <button value="{{ loop.index -1 }}" name="remove" class="btn form-control btn-danger btn-lg">Delete</button>
                        </div>
                    </div>
            </div>
        
        <br/>
    </div>
    {% endfor %}

    <div class="row">
        <div class="col">
            <button name="add" value="addRider" class="btn save form-control btn-warning btn-lg">Add Rider</button>
        </div>
    </div>
<br/>

    <div class="row">
        <div class="col">
            {{form.submit(class_='btn save form-control btn-primary btn-lg')}}
        </div>
    </div>
</form>

</div>

    {% endblock %}

    {% block script %}
    
    {% endblock %}