{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Early On Application {% endblock %}</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <h2>Applicant Information</h2>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                Registration <br />
                <a href="{{url_for('registration.viewreg', regid=earlyon.registration.id)}}">{{earlyon.registration.fname}} {{earlyon.registration.lname}} - {{earlyon.registration.id}}</a>
            </p>
        </div>
        <div class="col form-group">
            <p>
                First Name <br />
                <input type="input" value="{{ earlyon.registration.fname }}" class="form-control m-0" disabled readonly>
            </p>
        </div>
        <div class="col form-group">
            <p>
                Last Name <br />
                <input type="input" value="{{ earlyon.registration.lname }}" class="form-control m-0" disabled readonly>
            </p>
        </div>
        <div class="col form-group">
            <p>
                SCA Name <br />
                <input type="input" value="{{ earlyon.registration.scaname }}" class="form-control m-0" disabled
                    readonly>
            </p>
        </div>
    </div>


    <h2>Application Information</h2>

    <div class="row form-group">
        {% with field=form.arrival_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.department, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>

    <h2>Notes</h2>
    <div class="row form-group">
        {% with field=form.notes %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>

    {% if form.riders %}
    <h2>Riders</h2>
    {% for rider in form.riders %}
    <div class="row form-group">
        <div class="col form-group">
            <h4>Rider {{loop.index0 + 1}}</h4>
            <div class="row form-group">
                {% with field=rider.fname, required=true %}
                {% include 'form_field.html' %}
                {% endwith %}
                {% with field=rider.lname, required=true %}
                {% include 'form_field.html' %}
                {% endwith %}
                {% with field=rider.scaname %}
                {% include 'form_field.html' %}
                {% endwith %}
                {% with field=rider.regid, required=true %}
                {% include 'form_field.html' %}
                {% endwith %}
                <div class="col form-group">
                    <p>
                        Registration
                        <br />
                        <a href="{{url_for('registration.viewreg', regid=rider.regid.data)}}">{{rider.fname.data}} {{rider.lname.data}} - {{rider.regid.data}}</a>
                    </p>
                </div>
                {% with field=rider.minor, checkbox=true %}
                {% include 'form_field.html' %}
                {% endwith %}
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if current_user.has_role('Admin') or current_user.has_role('Department Head') %}
        <div class="row form-group">
            {% with field=form.dept_approval_status %}
            {% include 'form_field.html' %}
            {% endwith %}
        </div>
        {% endif %}
        {% if current_user.has_role('Admin') or current_user.has_role('Autocrat') %}
        <div class="row form-group">
            {% with field=form.autocrat_approval_status %}
            {% include 'form_field.html' %}
            {% endwith %}
        </div>
        {% endif %}

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.submit(class_='form-control m-0 btn btn-lg btn-primary') }}
                </p>
            </div>
        </div>
</form>


{% endblock %}

{% block script %}

{% endblock %}