{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Change Password {% endblock %}</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row form-group">
        <div class="col form-group">
            <p>
                User ID
                <input type="text" class="form-control m-0" disabled value="{{user.id}}">
            </p>
        </div>
        <div class="col form-group">
            <p>
                Username
                <input type="text" class="form-control m-0" disabled value="{{user.username}}">
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.password.label }}
                {{ form.password(class_='form-control m-0') }}
                {% if form.password.errors %}{% for error in form.password.errors %}<span class="error">{{ error
                    }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.confirm.label }}
                {{ form.confirm(class_='form-control m-0') }}
                {% if form.confirm.errors %}{% for error in form.confirm.errors %}<span class="error">{{ error
                    }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.submit(class_='form-control m-0 btn btn-primary btn-lg') }}
            </p>
        </div>
    </div>
</form>
{% endblock %}