{% extends 'base.html' %}

{% block content %}

<h2>My Account</h2>
<div class="row form-group">
    <div class="col form-group">
        <p>
            Username
        </p>
        <p class="form-control">
            {{ acc.username }}
        </p>
        <p>
            First Name
        </p>
        <p class="form-control">
            {{ acc.fname }}
        </p>
        <p>
            Last Name
        </p>
        <p class="form-control">
            {{ acc.lname }}
        </p>

        <form action="{{ url_for('user.changepassword') }}" >
            <input type="submit" value="Change Password" class="btn-primary form-control m-0"/>
        </form>
    </div>
</div>

{% endblock %}