{% extends 'base.html' %}

{% block content %}

    <form action="" method="post" novalidate>
        <h2>Edit Role</h2>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.id.label }}
                    {{ form.id(class_='form-control m-0') }}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.role_name.label }}
                    {{ form.role_name(class_='form-control m-0') }}
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.permissions.label }}
                    {{ form.permissions() }}
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.submit(class_='form-control m-0 btn btn-lg btn-primary') }}
                </p>
            </div>
        </div>
    </form>
{% endblock %}