{% extends 'base_restricted.html' %}


{% block content %}
<div style="background-color: rgb(255, 255, 255); padding: 10px; border-radius: 1em;">
    <h1>{% block title %} {{event.event_title}} – {{event.start_date.strftime("%B %d")}}-{{event.end_date.strftime("%d,
        %Y")}} {% endblock %}</h1>
    <h3 class="text-center">King’s Arrow Ranch, Lumberton, Mississippi</h3>
    <p class="text-center"><a href="http://www.gulfwars.org">www.gulfwars.org</a></p>
    <h2 class="text-center">Merchant Registration</h2>

    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <p class="text-center" style="color: red;">****** MUST be filled out on line ******</p>
            <ol>
                <li>Read all paperwork and accompanying application first.</li>
                <li>MAKE SURE YOU UNDERSTAND—if you have any questions, please contact me at
                    {{event.merchantcrat_email}}</li>
                <li>Fill out the merchant application form completely ONLINE. (DO NOT mail application)</li>
                <li>By submitting the application you are agreeing to adhere to the rules of {{event.event_title}}</li>
                <li>Application deadline is {{event.merchant_application_deadline.strftime("%b. %d, %Y")}}</li>
                <li>*****Invoices will be sent from Gulf Wars paypal******You have the option to pay your merchant fees
                    through PayPal or by mail with a check. Fees are due by
                    {{event.merchant_application_deadline.strftime("%b. %dth")}}, plan accordingly.</li>
            </ol>
        </div>
    </div>
    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <p class="text-center" style="color: red;">MERCHANTS APPLICATIONS MUST BE submitted BY THE DEADLINE OF
                {{event.merchant_application_deadline.strftime("%b. %d, %Y")}}.</p>
            <p class="text-center" style="color: red;">Invoices will be sent through paypal. You will have ten days to
                pay the invoice.</p>
            <p class="text-center" style="color: red;">Payment deadline is
                {{event.merchant_application_deadline.strftime("%B %dth")}}, after that there is a late fee. Please plan
                accordingly, If you need to pay by check, contact the merchant department for mailing instructions at
                merchantcrat@gulfwars.org.</p>

            <p>TO APPLY FOR A MERCHANT SPACE:</p>
            <ol>
                <li>Fill out this application completely and accurately. One application per merchant, even if you are
                    sharing a space. If another merchant is selling in your space, they must fill out a separate
                    application and pay the $20 fee. They do not need to pay the square footage fee, as it has already
                    been paid. If they do not fill out a separate application, their merchandise is considered to be on
                    consignment, and you are responsible for collecting and turning in the taxes.</li>
                <li>Pay your merchant fees</li>
                <li>Notification of space assignments will be made in January.</li>
                <li>Confirmation of the merchant application being received does not imply that you have been accepted
                    as a merchant for {{event.event_title}}. If you are missing information or documentation, your
                    application
                    will not be considered received until it is complete.</li>
            </ol>
        </div>
    </div>

    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <p class="d-inline-flex gap-1">
                    <p class="text-center fw-bold">Important Information</p>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseImportant" aria-expanded="false" aria-controls="collapseImportant">
                        EXPAND/COLLAPSE
                    </button>
                    </p>
                </div>
            </div>
            <div class="collapse" id="collapseImportant">
                <div class="card card-body">

                    <h4>Fees</h4>
                    <p>MERCHANT FEES DO NOT INCLUDE YOUR GULF WARS SITE ENTRY FEES.</p>
                    <p>Selling spaces at Gulf Wars cost 10 cents per square foot* plus a nonrefundable $20 processing
                        fee.</p>
                    <hr>
                    <h4>LATE REGISTRATION FEES</h4>
                    <p>There is an ADDITIONAL $25 non-refundable late fee for registrations after November 19th</p>
                    <hr>
                    <h4>BOUNCED CHECK FEES</h4>
                    <p>A $35 fee will be assessed for each check that is bounced. If you bounce a check, your
                        application will be canceled, and you still owe Gulf Wars the bounced check fee. Do not expect
                        your checks to be cashed immediately but they will be deposited within two weeks. If you don't
                        like your account to be "unbalanced" for a period of time, send a money order.</p>
                    <p>NOTE: *Merchant fees are for the sales tent with ropes and any extra sales space you may need
                        outside your tent. Living space behind your tent in the merchant area is available on a limited
                        basis at no additional cost. Camping space is included in your site fees, but not in the
                        merchant area. If you have concerns or questions, please email the mechantcrat.</p>
                    <hr>
                    <h4>Acceptance Criteria</h4>
                    <p>Merchant space is limited. Acceptance as a Gulf Wars merchant will be made from the pool of
                        applications based on:</p>
                    <ul>
                        <li>How well you follow the instructions in this application</li>
                        <li>History as a Gulf Wars merchant</li>
                        <li>Acceptable tent - NO pop-ups.</li>
                        <li>Acceptable merchandise</li>
                        <li>Space available</li>
                    </ul>
                    <hr>
                    <h4>What if I am not Accepted?</h4>
                    <p>Merchants whose applications are not accepted after all regular spaces have been assigned will be
                        notified and given a choice of three options:</p>
                    <ol>
                        <li>Refund of fees</li>
                        <li>Placed on a waiting list for cancellations</li>
                        <li>Placed on a list for odd or no-show spaces</li>
                    </ol>
                    <p>NOTE: Spaces not occupied by 5 PM on Sunday, March 15, 2026 without previous notification of the
                        merchantcrats will be assigned to merchants on the waiting list.</p>
                    <p>Merchant space use is limited to the persons listed on the application unless the Merchantcrats
                        are notified in advance.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <p class="d-inline-flex gap-1">
                    <p class="text-center fw-bold">Gulf Wars Merchant Rules</p>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSiteRules" aria-expanded="false" aria-controls="collapseSiteRules">
                        EXPAND/COLLAPSE
                    </button>
                    </p>
                </div>
            </div>
            <div class="collapse" id="collapseSiteRules">
                <div class="card card-body">
                    <p>
                        Participation as a merchant constitutes agreement with the published rules and regulations. By
                        registering to merchant at Gulf Wars all merchants, their agents, employees and affiliates agree
                        to abide by all the rules and regulations of the State of Mississippi, The Society for Creative
                        Anachronism Inc., King's Arrow Ranch, and the Autocrat/Merchant Staff of {{event.event_title}}.
                        Merchants are responsible for acquainting themselves and their staff with these rules and
                        standards - ignorance is not an excuse.
                    </p>
                    <p>All the rules that apply for Gulf Wars in general also apply to Merchants (merchants are
                        responsible for acquainting themselves with SCA rules and standards - ignorance is not an
                        excuse.)</p>
                    <hr />
                    <p><b>SIGNS FOR YOUR SHOP</b></p>
                    <p>Every merchant MUST have a sign that is visible as people walk around the marketplace. Note: The
                        Merchant Staff and Autocrat reserve the right to reject offensive business names.</p>
                    <hr />
                    <p><b>DRESS CODE</b></p>
                    <p>All merchants must conform to acceptable SCA standards of dress. Garb must be worn at all times
                        from 3 P.M. the first Saturday of the Gulf Wars to the end of business the last Saturday of Gulf
                        Wars.</p>
                    <p>NOTE: This means Medieval/Renaissance clothing, not fantasy garb. Modern clothing may not be worn
                        at Gulf Wars. You must wear garb while on site/anywhere at the war, not just the marketplace.
                    </p>
                    <hr />
                    <p><b>APPROPRIATE MERCHANDISE</b></p>
                    <p>updated 2/29/24</p>
                    <p>As Gulf Wars is a family event, merchandise inappropriate to a family situation should not be
                        sold.</p>
                    <p>Adult paraphernalia, hate symbols, anything that promotes illegal drug use are not allowed. This
                        is Medieval reenactment, NOT fantasy, science fiction, or post-1600 CE time period. Remember
                        this in your merchandise selection. Modern clothing with SCA-theme artwork should be displayed
                        folded, not hanging.</p>
                    <hr />
                    <p><b>PERIOD, OR PERIOD-APPEARING TENTS ARE REQUIRED.</b></p>
                    <p>It may rain! It may flood! Come prepared! All modern-looking items such as modern tables, chairs,
                        plastic tubs, shelving units, etc. must be covered. Items visible from the road should look
                        period.</p>
                    <ul>
                        <li>Allowable tent materials are canvas or other solid fabric covering. </li>
                        <li>Commercial rental tents are allowed. </li>
                        <li>Pop-ups are NOT allowed. </li>
                        <li>Plastic tarps not covered by slip covers are forbidden. </li>
                        <li>Parachutes are NOT tents. They are a FIRE HAZARD and are strictly forbidden! </li>
                        <li>Storage trailers may be left at the back of your space, if there is enough room, but they
                            must be hidden inside a structure, or completely covered.</li>
                        <li>THE FINAL DECISION INVOLVING QUESTIONABLE TENTS OR IN REFERENCE TO ANY OF THE ABOVE WILL
                            RESIDE WITH THE MERCHANTCRATS.</li>
                    </ul>
                    <hr />
                    <p><b>AMBIENCE</b></p>
                    <p>Any music inappropriate to SCA period is banned (e.g, modern music); all other music or offensive
                        noise WILL be moderated at your neighbor's request. IF IT ANNOYS YOUR NEIGHBOR, IT WILL ANNOY
                        THE MERCHANTCRATS.</p>
                    <hr />
                    <p><b>ELECTRICITY AND LIGHTING</b></p>
                    <p>Electricity cannot be guaranteed. If you need electricity, make sure to include it in your
                        application.</p>
                    <p>Generators are NOT allowed in the merchant area.</p>
                    <p>All extension cords crossing a road or walkway must be buried before use.</p>
                    <hr />
                    <p><b>FIRES </b></p>
                    <p>Braziers, Ground fires, open flames, and tiki torches are FORBIDDEN in the marketplace due to
                        fire hazard. If you use flame-producing appliances such as Coleman-type lanterns or stoves they
                        must be the "on-off" type. You must have a fire extinguisher immediately available.</p>
                    <hr />
                    <p><b>FOOD MERCHANTS</b></p>
                    <p>You must comply with the standards of the MS department of health. If you want to be a food
                        merchant, please send menu and prices along with electrical amperage per appliance needed to:
                        merchantcrat@gulfwars.org</p>
                    <hr />
                    <p><b>ALCOHOL</b></p>
                    <p>No alcohol may be sold anywhere on the site; therefore no merchant may offer for sale or
                        otherwise distribute alcoholic beverages, subject to immediate eviction from the site.</p>
                    <hr />
                    <p><b>SERVICE ANIMALS</b></p>
                    <p>Owners of service animals should contact animalliaison@gulfwars.org in advance of the event for
                        important information.</p>
                    <hr />
                    <p><b>**TRASH**</b></p>
                    <p>There will no longer be trash pick up in the merchant area. Trash is the responsibility of each
                        individual attending war. There will be large trash dumpsters at 4 locations throughout the
                        site. The locations will be marked on the site map. </p>
                    <ul>
                        <li>Trash CANNOT be piled up in camp, outside of camp, or on the side of the road or anywhere in
                            the merchant area.</li>
                        <li>Cardboard must be broken down before placing it in the dumpster.</li>
                        <li>Do not use the trash cans around the merchant area to dispose of your business or personal
                            trash. These are for shoppers.</li>
                        <li>Do not place propane tanks of any size in the dumpsters. Those can be placed neatly on the
                            outside of the dumpsters.</li>
                        <li>Sharps are to be disposed of at watch, located at 5 points.</li>
                    </ul>
                    <hr />
                    <p><b>SALE TAX</b></p>
                    <p>Mississippi state sales tax of 7% for your sales made at Gulf Wars. This is to be remitted at the
                        merchant office the last Saturday of the war.</p>
                    <ul>
                        <li>The tax form and instructions will be available in the merchant office.</li>
                        <li>You do not need to get a separate tax number.</li>
                        <li>If a merchant fails to report or pay taxes they will not be allowed to merchant at Gulf Wars
                            again.</li>
                        <li>Sales tax rate will be checked for changes prior to Gulf Wars.</li>
                    </ul>
                    <hr />
                    <p><b>MERCHANT CHECK-IN</b></p>
                    <p>The site will be available for merchant check-in on FRIDAY, March 13th, from 12 Noon until 6 P.M.
                    </p>
                    <p>DO NOT arrive before noon. You will not be allowed on-site earlier.</p>
                    <p>If you arrive after 6 P.M., you will have to wait until the regular Troll opening time of 1 P.M.
                        on Saturday</p>
                    <p>NOTE: Spaces not occupied by 5 PM on Sunday, March 15, 2026 without previous notification of the
                        merchantcrats will be assigned to merchants on the waiting list.</p>
                    <hr />

                    <p><b>FRIDAY ARRIVALS</b></p>
                    <p>You and your helpers MUST be entered into early form if arriving on Friday. You do not have to do
                        this now, you have until site pre registration closes to do so.</p>
                    <p>EVERYONE on your list must be preregistered for site. The merchant office provides a list to the
                        gate. They will NOT be allowed on site if they are not on this list —NO ARGUMENT, NO APPEAL.
                        Merchants are limited to 5 adults (no limit on minor children).</p>
                    <p>The earliest you'll be allowed on site is NOON. The latest you can arrive on Friday is 6 PM.
                        Check in with the merchant office BEFORE setting up. You must "troll in" Saturday morning
                        between 9 A.M. and noon for site.</p>
                    <p>Friday merchant arrivals are for merchant set up. You and your helpers are expected to set up
                        your merchant tent before setting up your personal camps elsewhere on site.</p>
                    <p>**Merchants arriving Friday are expected to have their vehicles out of the merchant area by 11
                        A.M. on Saturday**. Failure to do so could result in the merchant's early on privilege being
                        revoked.</p>
                    <hr />

                    <p><b>VEHICLES</b></p>
                    <p>Vehicles must be moved to the parking lot as soon as you are done unloading. If you arrive at
                        night, you may wait until morning to move.</p>
                    <p>Your vehicle must be parked in the parking lot before you may begin selling.</p>
                    <p>Merchants who arrive on Friday must have their vehicles out of the merchant area by 11 A.M. on
                        March 10th.</p>
                    <p>Vehicles are NOT permitted in the merchant area between 11AM to 6 PM (except during set up and
                        pack out).</p>
                    <hr />
                    <p><b>MERCHANTING DAYS</b></p>
                    <p><b>Saturday, March 14th — Saturday, March 21st.</b></p>
                    <hr />
                    <p><b>SELLING HOURS</b></p>
                    <p>You must be open from 11 A.M. until 6 P.M. daily starting Monday the Start of War.</p>
                    <p>Selling hours are from 3 P.M. Saturday, March 14th through ** 3 P.M.**, Saturday, March 21st.</p>
                    <p>Quiet time is from 11 P.M. to 7 A.M.; you may sell during these hours, just keep your noise level
                        down.</p>
                    <p>**If a merchant wishes to close (for non emergencies) during required selling times, they must
                        prearrange it with the merchant office. Notice must be posted at least a day ahead of time on
                        the merchant information boards and at the merchant's tent.**</p>
                    <hr />
                    <p><b>MOONLIGHT MADNESS</b></p>
                    <p><b>Wednesday, March 18th from 7 P.M. to 10 P.M.</b></p>
                    <p>You must be open until **10 P.M.** on Wednesday March 18th for Moonlight Madness. You may close
                        Wednesday for up to 2 hours during the day with a sign as to when you are returning. You should
                        reopen by 7 P.M. You may stay open later if you wish.</p>
                    <hr />
                    <p><b>OUT OF STOCK</b></p>
                    <p>If a merchant sells out of merchandise before the end of war. They must remain open during
                        regular shopping hours and be available to customers who may still want information.</p>
                    <hr />
                    <p><b>LEGAL INFORMATION</b></p>
                    <p>IMPORTANT: King's Arrow Ranch is a private property with the right to limit the hours, location
                        and operation of any and all businesses on its premises. {{event.event_title}} merchants sell by
                        invitation and must conform to the policies established regardless of license. Merchants sell at
                        their own risk.</p>
                    <p>Registration gives the merchant the privilege of selling as an independent operator, not as an
                        employee or agent of King's Arrow Ranch, {{event.event_title}}, or the SCA. Registration as a
                        merchant
                        is a privilege granted by King's Arrow Ranch, not a right. The Merchant Coordinator, Autocrat,
                        or Site owner may revoke said approval or refuse to accept any application without reason or
                        cause of any kind. Infractions of the rules may result in withdrawal of merchant privileges,
                        expulsion from {{event.event_title}}, and can affect registration for future Gulf Wars.</p>
                    <p><b>CANCELLATIONS AND REFUNDS</b></p>
                    <p>Refunds must be requested Two Weeks Prior to the beginning of War. In order to receive a refund
                        of your Merchant Fees you must:</p>
                    <ol>
                        <li>Notify the Merchantcrats of your cancellation</li>
                        <li>Requests for refunds must be made IN WRITING and must include a completed Refund Request
                            Form. (You can find copies at <a href="https://gulfwars.org/registration/">https://gulfwars.org/registration/</a>.) </li>
                        <li>Requests should be sent to <a href="mailto:reservations@gulfwars.org">reservations@gulfwars.org</a>. The form can also be mailed to the
                            Registration address at Gulf Wars Registrations, 209 S Dogwood Ave, Broken Arrow, OK 74012.
                        </li>
                        <li>Requests submitted at least two weeks prior to the beginning of War will be made for any
                            reason.</li>
                        <li>Requests submitted after registration closes up to the day prior to expected arrival at Gulf
                            Wars will be at the discretion of the Gulf Wars Exchequer and the Gulf Wars Autocrat(s). Any
                            request for a refund after the expected date of arrival will not be honored, except in the
                            more dire of circumstances.</li>
                        <li>There will be a $10 (Ten Dollar) per canceled person processing fee on ALL site registration
                            refunds. Merchants will forfeit their processing fee for any cancellations.</li>
                        <li>All refunds will be sent via check after War has ended. No refunds will be given on-site.
                            Make sure the Refund Request Form includes a valid mailing address.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <div class="row">
                <div class="col text-center">
                    <p class="d-inline-flex gap-1">
                    <p class="text-center fw-bold">Merchant Agreement</p>
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseAgreement" aria-expanded="false" aria-controls="collapseAgreement">
                        EXPAND/COLLAPSE
                    </button>
                    </p>
                </div>
            </div>
            <div class="collapse" id="collapseAgreement">
                <div class="card card-body">
                    <p><b>Gulf Wars Merchant Agreement</b></p>
                    <p>I, the undersigned merchant for myself and my agents, employees and affiliates, have read and
                        understood the accompanying information and regulations and agree to abide by all rules
                        established by the state of Mississippi, The Society for Creative Anachronism, King's Arrow
                        Ranch Campground, and the Autocrat Staff of {{event.event_title}}. By registering to be a
                        merchant, I am declaring that I have the proper business permits to sell in Mississippi and will
                        pay the Mississippi sales taxes through the Gulf Wars merchant office. I acknowledge that I am
                        solely responsible for all permits and fees associated with vending.
                        I acknowledge that I am an independent operator and neither I nor my agents, employees or
                        affiliates have any authority to contract or incur liability for or obligation on behalf of the
                        S.C.A., {{event.event_title}}, King's Arrow Ranch Campground or any of their agents; and will
                        indemnity the above entities against any and all claims that may be made against them due to my
                        activities. I assume responsibility for any claims, costs, expenses or attorney fees incurred by
                        King's Arrow Ranch or {{event.event_title}} due to my activities.
                        I agree that if anyone using the assigned merchant space fails to comply with these rules or any
                        portion at this agreement. King's Arrow Ranch, the Autocrat and Merchant Staff may take
                        immediate steps which in their sole judgment may be necessary to protect {{event.event_title}}
                        interests. Including, but not limited to, the closing of the contracted selling site, removal of
                        selling materials, removal of merchant and halting all merchant activities at King's Arrow Ranch
                        without refund of any fees to the merchant.
                        I acknowledge that King's Arrow Ranch is a private property with the right to limit the hours,
                        locations and operation of any and all businesses on its premises.
                        I acknowledge that the assigned merchant space is non-transferable, and that use is limited to
                        the persons listed with this agreement and assume responsibility for the actions of all and any
                        persons who use the assigned space.
                        Parcels shipped to King's Arrow Ranch are done so at my own risk; neither King's Arrow Ranch nor
                        Merchant Staff, nor {{event.event_title}} is responsible for any items delivered to the site.
                        I will, by the closing time of 12 Noon {{event.end_date.strftime("%A %B %d, %Y")}}, remove all
                        equipment, supplies, merchandise, propane bottles, and trash from the assigned space, and pay
                        all charges, including all merchant and camping fees. I assume responsibility for any hauling
                        charges or other expenses incurred for disposal and for cleanup of the merchant site occupied.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row"
        style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
        <div class="col">
            <p>You will receive an email confirmation of your application that includes your registration information.
                This is not an acceptance email.</p>

            <p>If you don't get the auto response email, your application did not go through. (Don't forget to check
                your spam folder)</p>
        </div>
    </div>

    <form id='merchantform' action="" method="POST" novalidate>
        {{ form.hidden_tag() }}

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.business_name.label }} <span style="color: red;">*</span>
                    {{ form.business_name(class_='form-control m-0') }}
                    {% if form.business_name.errors %}{% for error in form.business_name.errors %}<span class="error">{{
                        error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.sca_name.label }} <span style="color: red;">*</span>
                    {{ form.sca_name(class_='form-control m-0') }}
                    {% if form.sca_name.errors %}{% for error in form.sca_name.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.fname.label }} <span style="color: red;">*</span>
                    {{ form.fname(class_='form-control m-0') }}
                    {% if form.fname.errors %}{% for error in form.fname.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.lname.label }} <span style="color: red;">*</span>
                    {{ form.lname(class_='form-control m-0') }}
                    {% if form.lname.errors %}{% for error in form.lname.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.email.label }} <span style="color: red;">*</span>
                    {{ form.email(class_='form-control m-0') }}
                    {% if form.email.errors %}{% for error in form.email.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.phone.label }} <span style="color: red;">*</span>
                    {{ form.phone(class_='form-control m-0') }}
                    {% if form.phone.errors %}{% for error in form.phone.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col form-group text-center">
                <p>
                    {{ form.text_permission.label() }}
                    {{ form.text_permission(class_='form-check-input big-checkbox') }}
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <p>
                    {{ form.address.label }} <span style="color: red;">*</span>
                    {{ form.address(class_='form-control m-0') }}
                    {% if form.address.errors %}{% for error in form.address.errors %}<span class="error">{{ error
                        }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col">
                <p>
                    {{ form.city.label }} <span style="color: red;">*</span>
                    {{ form.city(class_='form-control m-0') }}
                    {% if form.city.errors %}{% for error in form.city.errors %}<span class="error">{{ error }}</span>{%
                    endfor %}{% endif %}
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col">
                <p>
                    {{ form.state_province.label }} <span style="color: red;">*</span>
                    {{ form.state_province(class_='form-control m-0') }}
                    {% if form.state_province.errors %}{% for error in form.state_province.errors %}<span
                        class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col">
                <p>
                    {{ form.zip.label }} <span style="color: red;">*</span>
                    {{ form.zip(class_='form-control m-0') }}
                    {% if form.zip.errors %}{% for error in form.zip.errors %}<span class="error">{{ error }}</span>{%
                    endfor %}{% endif %}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.estimated_date_of_arrival.label }} <span style="color: red;">*</span>
                    {{ form.estimated_date_of_arrival(class_='form-control m-0') }}
                    {% if form.estimated_date_of_arrival.errors %}{% for error in form.estimated_date_of_arrival.errors
                    %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.frontage_width.label }} <span style="color: red;">*</span>
                    {{ form.frontage_width(class_='form-control m-0', oninput_="fee_script()") }}
                    {% if form.frontage_width.errors %}{% for error in form.frontage_width.errors %}<span
                        class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.frontage_depth.label }} <span style="color: red;">*</span>
                    {{ form.frontage_depth(class_='form-control m-0', oninput_="fee_script()") }}
                    {% if form.frontage_depth.errors %}{% for error in form.frontage_depth.errors %}<span
                        class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.ropes_front.label }} <span style="color: red;">*</span>
                    {{ form.ropes_front(class_='form-control m-0', oninput_="fee_script()") }}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.ropes_back.label }} <span style="color: red;">*</span>
                    {{ form.ropes_back(class_='form-control m-0', oninput_="fee_script()") }}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.ropes_left.label }} <span style="color: red;">*</span>
                    {{ form.ropes_left(class_='form-control m-0', oninput_="fee_script()") }}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{ form.ropes_right.label }} <span style="color: red;">*</span>
                    {{ form.ropes_right(class_='form-control m-0', oninput_="fee_script()") }}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.additional_space_information.label }}
                    {{ form.additional_space_information(class_='form-control m-0') }}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.electricity_request.label }}
                    <br>
                    If you are approved for electricity, be prepared to pay for your electrical connection in cash when
                    you check in with the Merchant Office. DO NOT SEND PAYMENT FOR ELECTRIC. Electrical power is limited
                    and the charge for power is a minimum of $30.00. Those needing more than a shared outlet will be
                    charged TDB per circuit amperage. All electrical devices must be listed along with their wattage.
                    Usage for lighting is limited to 70 watts total. LED bulbs are highly recommended. Items not listed
                    will not be allowed. You will be notified if your space will have access. Items with a heating
                    element cannot be on a shared circuit. Priority for electricity is given to 1.Food Vendor (contact
                    Merchant Coordinator ASAP for special instructions) 2. Medically necessity 3.Business use. LIST ALL
                    ELECTRICAL DEVICES AND THEIR WATTAGE OR AMPERAGE:
                    {{ form.electricity_request(class_='form-control m-0') }}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group text-center">
                <p>
                    {{ form.food_merchant_agreement.label }}
                    {{ form.food_merchant_agreement(class_='form-check-input big-checkbox') }}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group text-center">
                <p>
                    {{ form.service_animal.label }}
                    {{ form.service_animal(class_='form-check-input big-checkbox') }}
                </p>
            </div>
        </div>

        <div class="row form-group">
            <div class="col form-group text-center">
                <p>
                    {{ form.last_3_years.label }}
                    {{ form.last_3_years(class_='form-check-input big-checkbox') }}
                </p>
            </div>
        </div>

        <h3>Parking/Vehicle</h3>
        <div class="row form-group">
            <div class="col form-group text-center">
                <p>
                    {{ form.require_merchant_parking.label }}
                    {{ form.require_merchant_parking(class_='form-check-input big-checkbox',
                    onchange_="parking_check()") }}
                </p>
            </div>
        </div>

        <div id="parking_questions" style="display: none;">
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.vehicle_length.label }}
                        {{ form.vehicle_length(class_='form-control m-0') }}
                        {% if form.vehicle_length.errors %}{% for error in form.vehicle_length.errors %}<span
                            class="error">{{ error }}</span>{% endfor %}{% endif %}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.vehicle_license_plate.label }}
                        {{ form.vehicle_license_plate(class_='form-control m-0') }}
                        {% if form.vehicle_license_plate.errors %}{% for error in form.vehicle_license_plate.errors
                        %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.vehicle_state.label }}
                        {{ form.vehicle_state(class_='form-control m-0') }}
                        {% if form.vehicle_state.errors %}{% for error in form.vehicle_state.errors %}<span
                            class="error">{{ error }}</span>{% endfor %}{% endif %}
                    </p>
                </div>
            </div>

            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.trailer_length.label }}
                        {{ form.trailer_length(class_='form-control m-0') }}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.trailer_license_plate.label }}
                        {{ form.trailer_license_plate(class_='form-control m-0') }}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.trailer_state.label }}
                        {{ form.trailer_state(class_='form-control m-0') }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row"
            style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
            <div class="row form-group">
                <div class="col form-group">
                    <p>I have read and understand the rules for merchanting at Gulf Wars</p>
                    <p>I have read and understand the Friday arrival information.</p>
                    <p>I have read and understand the rules and merchant agreement</p>
                    <p>
                        <b>{{ form.signature.label }}</b>
                        {{ form.signature(class_='form-control m-0') }}
                        {% if form.signature.errors %}{% for error in form.signature.errors %}<span class="error">{{
                            error }}</span>{% endfor %}{% endif %}
                    </p>
                </div>
            </div>
        </div>

        <div class="row"
            style="border: .1em; border-style: solid; border-color: black; padding: 1em; margin-bottom: 1em; border-radius: 1em;">
            <div class="row form-group">
                <div class="col form-group">
                    <p id="space_fee_text">
                        <b>Space Fee:</b>
                    </p>
                </div>
                <div class="col form-group">
                    <p id="processing_fee_text">
                        <b>Processing Fee:</b>
                    </p>
                </div>
                <div class="col form-group">
                    <p id="merchant_fee_text">
                        <b>Total Merchant Fee:</b>
                    </p>
                </div>
            </div>
        </div>

        <div id="new-reg-div"></div>
        <div class="row">
            <div class="col">
                {{form.submit(class_='btn save form-control btn-primary btn-lg')}}
            </div>
        </div>
    </form>

</div>

{% endblock %}

{% block script %}

<script>
    const frontage_width = document.getElementById('frontage_width');
    const frontage_depth = document.getElementById('frontage_depth');
    const ropes_front = document.getElementById('ropes_front');
    const ropes_back = document.getElementById('ropes_back');
    const ropes_left = document.getElementById('ropes_left');
    const ropes_right = document.getElementById('ropes_right');
    const parking_checkbox = document.getElementById('require_merchant_parking');

    parking_check()

    if (new Date() <= new Date("{{event.merchant_application_deadline}}")) {
        processing_fee = new Number("{{event.merchant_processing_fee}}");
    }
    else {
        processing_fee = new Number("{{event.merchant_late_processing_fee}}"); // Late fee after Nov 19th
    }
    processing_fee_text.innerHTML = "<b>Processing Fee: $</b>" + processing_fee.toFixed(2);

    fee_script()

    function fee_script() {

        space_fee = ((parseInt(frontage_width.value) + parseInt(ropes_left.value) + parseInt(ropes_right.value)) * (parseInt(frontage_depth.value) + parseInt(ropes_front.value) + parseInt(ropes_back.value))) * new Number("{{event.merchant_squarefoot_fee}}");

        merchant_fee = space_fee + processing_fee;

        space_fee_text = document.getElementById('space_fee_text');
        processing_fee_text = document.getElementById('processing_fee_text');
        merchant_fee_text = document.getElementById('merchant_fee_text');

        space_fee_text.innerHTML = "<b>Space Fee: $</b>" + space_fee.toFixed(2);
        merchant_fee_text.innerHTML = "<b>Total Merchant Fee: $</b>" + merchant_fee.toFixed(2);
    };

    function parking_check() {

        const parking_checkbox = document.getElementById('require_merchant_parking');
        const parking_questions = document.getElementById('parking_questions');

        if (parking_checkbox.checked == true) {
            parking_questions.style.display = 'block';
        } else {
            parking_questions.style.display = 'none';
        }

    }
</script>

{% endblock %}