{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Merchant Registration {% endblock %}</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}

    <h2>Application Information</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.application_date.label }}
                {{ form.application_date(class_='form-control m-0') }}
                {% if form.application_date.errors %}{% for error in form.application_date.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.estimated_date_of_arrival.label }}
                {{ form.estimated_date_of_arrival(class_='form-control m-0') }}
                {% if form.estimated_date_of_arrival.errors %}{% for error in form.estimated_date_of_arrival.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p class="text-center">
                {{ form.food_merchant_agreement.label }}
                {{ form.food_merchant_agreement(class_='form-check-input big-checkbox')  }}
            </p>
        </div>
        <div class="col form-group">
            <p class="text-center">
                {{ form.service_animal.label }}
                {{ form.service_animal(class_='form-check-input big-checkbox')  }}
            </p>
        </div>
        <div class="col form-group">
            <p class="text-center">
                {{ form.last_3_years.label }}
                {{ form.last_3_years(class_='form-check-input big-checkbox')  }}
            </p>
        </div>
    </div>

    <h2>Personal Information</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.business_name.label }}
                {{ form.business_name(class_='form-control m-0') }}
                {% if form.business_name.errors %}{% for error in form.business_name.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.fname.label }}
                {{ form.fname(class_='form-control m-0') }}
                {% if form.fname.errors %}{% for error in form.fname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.lname.label }}
                {{ form.lname(class_='form-control m-0') }}
                {% if form.lname.errors %}{% for error in form.lname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.sca_name.label }}
                {{ form.sca_name(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.city.label }}
                {{ form.city(class_='form-control m-0') }}
                {% if form.city.errors %}{% for error in form.city.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.state_province.label }}
                {{ form.state_province(class_='form-control m-0') }}
                {% if form.state_province.errors %}{% for error in form.state_province.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.zip.label }}
                {{ form.zip(class_='form-control m-0') }}
                {% if form.zip.errors %}{% for error in form.zip.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.email.label }}
                {{ form.email(class_='form-control m-0') }}
                {% if form.email.errors %}{% for error in form.email.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.phone.label }}
                {{ form.phone(class_='form-control m-0') }}
                {% if form.phone.errors %}{% for error in form.phone.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.text_permission.label }}
                {{ form.text_permission(class_='form-check-input big-checkbox') }}
            </p>
        </div>
    </div>

    <h2>Vehicle</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.vehicle_length.label }}
                {{ form.vehicle_length(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.vehicle_license_plate.label }}
                {{ form.vehicle_license_plate(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.vehicle_state.label }}
                {{ form.vehicle_state(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <h2>Trailer</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.trailer_length.label }}
                {{ form.trailer_length(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.trailer_license_plate.label }}
                {{ form.trailer_license_plate(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.trailer_state.label }}
                {{ form.trailer_state(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <h2>Space Information</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.frontage_width.label }}
                {{ form.frontage_width(class_='form-control m-0') }}
                {% if form.frontage_width.errors %}{% for error in form.frontage_width.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.frontage_depth.label }}
                {{ form.frontage_depth(class_='form-control m-0') }}
                {% if form.frontage_depth.errors %}{% for error in form.frontage_depth.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.ropes_front.label }} <span style="color: red;">*</span>
                {{ form.ropes_front(class_='form-control m-0') }}
                {% if form.ropes_front.errors %}{% for error in form.ropes_front.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div> 
        <div class="col form-group">
            <p>
                {{ form.ropes_back.label }} <span style="color: red;">*</span>
                {{ form.ropes_back(class_='form-control m-0') }}
                {% if form.ropes_back.errors %}{% for error in form.ropes_back.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.ropes_left.label }} <span style="color: red;">*</span>
                {{ form.ropes_left(class_='form-control m-0') }}
                {% if form.ropes_left.errors %}{% for error in form.ropes_left.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div> 
        <div class="col form-group">
            <p>
                {{ form.ropes_right.label }} <span style="color: red;">*</span>
                {{ form.ropes_right(class_='form-control m-0') }}
                {% if form.ropes_right.errors %}{% for error in form.ropes_right.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p class="text-center">
                {{ form.personal_space.label }}
                {{ form.personal_space(class_='form-control m-0') }}
                {% if form.personal_space.errors %}{% for error in form.personal_space.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p class="text-center">
                {{ form.extra_space.label }}
                {{ form.extra_space(class_='form-control m-0') }}
                {% if form.extra_space.errors %}{% for error in form.extra_space.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p class="text-center">
                {{ form.additional_space_information.label }}
                {{ form.additional_space_information(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p class="text-center">
                {{ form.electricity_request.label(class_='form-check-label') }}
                {{ form.electricity_request(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <h2>Fees</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.space_fee.label }}
                {{ form.space_fee(class_='form-control m-0') }}
                {% if form.space_fee.errors %}{% for error in form.space_fee.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.space_fee_balance.label }}
                {{ form.space_fee_balance(class_='form-control m-0') }}
                {% if form.space_fee_balance.errors %}{% for error in form.space_fee_balance.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>  
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.processing_fee.label }}
                {{ form.processing_fee(class_='form-control m-0') }}
                {% if form.processing_fee.errors %}{% for error in form.processing_fee.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col form-group">
            <p>
                {{ form.processing_fee_balance.label }}
                {{ form.processing_fee_balance(class_='form-control m-0') }}
                {% if form.processing_fee_balance.errors %}{% for error in form.processing_fee_balance.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.merchant_fee.label(class_='form-check-label') }}
                {{ form.merchant_fee(class_='form-control m-0', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <button type="button" class="m-0 btn btn-lg btn-success " onclick="calculateFees()">Calculate Fees</button>
        </div>
    </div>

    <h2>Notes</h2>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.notes.label }}
                {{ form.notes(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.signature.label }}
                {{ form.signature(class_='form-control m-0', readonly=true) }}
            </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.status.label }}
                {{ form.status(class_='form-control m-0') }}
            </p>
        </div>
    </div>

    {% if current_user.has_permission('admin') %}
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.invoice_number.label }}
                {{ form.invoice_number(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    {% endif %}

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.submit(class_='form-control m-0 btn btn-lg btn-primary') }}
            </p>
        </div>
    </div>
</form>

   
{% endblock %}

{% block script %}

<script>
    function calculateFees() {
        merchant_fee = document.getElementById('merchant_fee')
        space_fee = document.getElementById('space_fee')
        processing_fee = document.getElementById('processing_fee')
        frontage_width = document.getElementById('frontage_width')
        frontage_depth = document.getElementById('frontage_depth')
        ropes_left = document.getElementById('ropes_left')
        ropes_right = document.getElementById('ropes_right')
        ropes_front = document.getElementById('ropes_front')
        ropes_back = document.getElementById('ropes_back')
        personal_space = document.getElementById('personal_space')
        extra_space = document.getElementById('extra_space')

        space_fee.value = (((parseInt(frontage_width.value) + parseInt(ropes_left.value) + parseInt(ropes_right.value)) * (parseInt(frontage_depth.value) + parseInt(ropes_front.value) + parseInt(ropes_back.value)) - parseFloat(personal_space.value) + parseFloat(extra_space.value)) * new Number("{{event.merchant_squarefoot_fee}}")).toFixed(2);

        merchant_fee.value = (parseFloat(space_fee.value) + parseFloat(processing_fee.value)).toFixed(2)
    }
</script>

{% endblock %}