{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Merchants {% endblock %}</h1>
<div class="row">
  <div class="col">
    <table id="merchantTable"data-toggle="table"
    data-filter-control="true"
    data-sortable="true"
    data-pagination="true"
    data-show-columns="true"
    data-show-columns-toggle-all="true"
    data-toolbar="#toolbar"
    data-show-toggle="true"
    data-show-fullscreen="true"
    data-show-export="true"
    data-export-types="['csv', 'excel', 'pdf']"
    data-minimum-count-columns="2"
    data-show-pagination-switch="true"
    data-page-list="[10, 25, 50, 100, all]"
    data-response-handler="responseHandler"
    data-detail-view="true"
    data-detail-view-icon="false"
    data-mobile-responsive="true"
    data-check-on-init="true"
    data-classes="table table-striped table-responsive">
      <thead>
          <tr>
              <th data-field="business_name" data-filter-control="input">Merchant Name</th>
              <th data-field="email" data-filter-control="input">Email</th>
              <th data-field="status" data-filter-control="select">Status</th>
              <th data-field="merchant_fee" data-filter-control="input">Merchant Fee</th>
              <th data-field="update">Update</th>
          </tr>
      </thead>
      <tbody>
        {% if merchants %}
          {%for merchant in merchants %}
          <tr>
                  <td> 
                      {{merchant['business_name']}}
                  </td>
                  <td> 
                      {{merchant['email']}}
                  </td>
                  <td> 
                      {{merchant['status']}}
                  </td>
                  <td> 
                      {{merchant['merchant_fee']}}
                  </td>
                  <td>
                    <a class="btn btn-primary" href="{{url_for('merchant.update', merch_id=merchant.id)}}" role="button">Update</a>
                  </td>
          </tr>
          {% endfor %}
          {% endif %}
      </tbody>
  </table>
  </div>
</div>
<script>
    function searchEmailFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("searchEmailInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("invoiceTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }

    function searchInvoiceFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInvoiceInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("invoiceTable");
        tr = table.getElementsByTagName("tr");
      
        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
          td = tr[i].getElementsByTagName("td")[1];
          if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }

      function searchStatusFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchStatusInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("invoiceTable");
        tr = table.getElementsByTagName("tr");
      
        if (filter == '-') {
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
              tr[i].style.display = "";
            }
          }
        }
        else {
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[6];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().trim() == filter) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      }
    </script>

{% endblock %}