{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Merchant Fastpass {% endblock %}</h1>
<div class="container">
    <h1>Scan QR Codes</h1>
    <div class="section">
        <div id="my-qr-reader">
        </div>
    </div>
</div>
<script
    src="https://unpkg.com/html5-qrcode">
</script>
<script>
    function domReady(fn) {
        if (
            document.readyState === "complete" ||
            document.readyState === "interactive"
        ) {
            setTimeout(fn, 1000);
        } else {
            document.addEventListener("DOMContentLoaded", fn);
        }
    }
    
    domReady(function () {
    
        // If found you qr code
        function onScanSuccess(decodeText, decodeResult) {
            window.location.replace(decodeText);
        }
    
        let htmlscanner = new Html5QrcodeScanner(
            "my-qr-reader",
            { fps: 10, qrbos: 250 }
        );
        htmlscanner.render(onScanSuccess);
    });
</script>
{% endblock %}