{% extends 'base.html' %}

{% block content %}
        <h1>{% block title %} Delete Department {% endblock %}</h1>
    <form action="" method="post">
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    Department Name
                    <input type="text" class="form-control m-0" name="name" value="{{ department.name }}" readonly>
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    <button type="submit" class="form-control m-0 btn btn-danger">Delete Department</button>
                </p>
            </div>
        </div>
    </form>

    
{% endblock %}