{% extends 'base.html' %}

{% block content %}

    <form action="" method="post">
        <h2>Edit Department</h2>
        <div class="row form-group">
                {% with field=form.name, required=true %}
                    {% include 'form_field.html' %}
                {% endwith %}
        </div>
        <div class="row form-group">
                {% with field=form.description %}
                    {% include 'form_field.html' %}
                {% endwith %}
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.submit.label }}
                    {{ form.submit(class_='form-control btn btn-lg btn-primary m-0') }}
                </p>
            </div>
        </div>
    </form>

    
{% endblock %}