{% extends 'base.html' %}

{% block content %}

<div class="row form-group">
    <div class="col form-group">
        <p>
            <label for="name">Name</label>
            <input type="text" class="form-control m-0" id="name" name="name" readonly value="{{ reg.fname }} {{ reg.lname }}"/>
        </p>
    </div>
    <div class="col form-group">
        <p>
            <label for="sca_name">SCA Name</label>
            <input type="text" class="form-control m-0" id="sca_name" name="sca_name" readonly value="{{ reg.scaname }}"/>
        </p>
    </div>
    <div class="col form-group">
        <p>
            <label for="sca_name">Age</label>
            <input type="text" class="form-control m-0" id="age" name="age" readonly value="{{ reg.age }}"/>
        </p>
    </div>
</div>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.notes.label}}
                {{form.notes(class_='form-control m-0')}}
            </p>
        </div>
    </div>
    <br>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.mbr.label }}
                {{ form.mbr(class_='form-control m-0', onchange="memberCheck()") }}
            </p>
        </div>
    </div>
    {% if reg.mbr == 'Member' %}
    <div id="membership">
    {% else %}
    <div id="membership" style="display: none;">
    {% endif %}
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{form.mbr_num.label}}
                    {{form.mbr_num(class_='form-control m-0')}}
                </p>
            </div>
            <div class="col form-group">
                <p>
                    {{form.mbr_num_exp.label}}
                    {{form.mbr_num_exp(class_='form-control m-0')}}
                </p>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.kingdom.label }}
                {{ form.kingdom(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.lodging.label }}
                {{ form.lodging(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.medallion.label }}
                {{ form.medallion(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    {% if reg.age != '18+' and reg.age != 'Royals' %}
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.minor_waiver.label}}
                {{form.minor_waiver(class_='form-control m-0')}}
                {% if form.minor_waiver.errors %}{% for error in form.minor_waiver.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row form-group">
        <div class="col form-group">
            <p>{{ form.submit(class_='form-control m-0 btn-primary') }}</p>
        </div>
    </div>
    
    </form>

    <!-- <h5>Cost</h5>
    <table>
        <tr>
            <th>Registration Price</th>
            <th>Amount Paid</th>
            <th>Amount Due</th>
        </tr>
        <tr>
            <td>{{ price_calc }}</td>
            <td>{{ price_paid }}</td>
            <td>{{ price_due }}</td>
        </tr>
    </table> -->
{% endblock %}

{% block script %}
<!-- <script>
let mbrField = document.getElementById("mbr");
let mbr = '{{ mbr }}';

for(var i, j = 0; i = mbrField.options[j]; j++) {
    if(i.value == mbr) {
        mbrField.selectedIndex = j;
        break;
    }
}
let kingdomField = document.getElementById("kingdom");
let kingdom = '{{ kingdom }}';

for(var i, j = 0; i = kingdomField.options[j]; j++) {
    if(i.value == kingdom) {
        kingdomField.selectedIndex = j;
        break;
    }
} 
</script> -->

<script>


    function memberCheck() {
        const mbr = document.getElementById("mbr").value;
        const membership = document.getElementById("membership");
        if (mbr == 'Member') {
            membership.style.display = 'block';
        }
        else {
            membership.style.display = 'none';
        }
    }
    
</script>
{% endblock %}