{% extends 'base.html' %}

{% block content %}

    <h3>Payment Breakdown</h3>
    <div class="row no-print">
        <div class="col">
            <table class="table table-reg table-reg-display table-responsive">
                <tr>
                    <th class="text-center">Registration</th>
                    <th class="text-center">NMR</th>
                    <th class="text-center">PayPal Donation</th>
                    <th class="text-center">Total Due</th>
                </tr>
                <tr>
                    <td class="text-center">${{ reg.registration_balance }}</td>
                    <td class="text-center">${{ reg.nmr_balance }}</td>
                    <td class="text-center">${{ reg.paypal_donation_balance }}</td>
                    <td class="text-center"><b>${{ reg.balance }}</b></td>
                </tr>
            </table>   
        </div>
    </div>

    {% if reg.prereg == false and reg.paypal_donation > 0 %}
    <form action="/troll/{{reg.id}}/updatedonation" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="row form-group">
        <div class="row form-group">
            <div class="col form-group">
                <p class="text-center">
                    {{ paypal_form.paypal_donation.label }}<br>
                    {{ paypal_form.paypal_donation(class_='form-check-input big-checkbox', onchange_='donation_check()') }}
                </p>
            </div>
            <div id='paypal_donation_display' class="col form-group">
                <p>
                    {{ paypal_form.paypal_donation_amount.label }}<br>
                    {{ paypal_form.paypal_donation_amount(class_='form-control') }}
                </p>
            </div>
        </div>
        <p>{{ paypal_form.submit(class_='form-control btn btn-warning') }}</p>
    </form>
    {% endif %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="row form-group">
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.payment_type.label }}<br>
                    {{ form.payment_type(class_='form-control') }}
                </p>
            </div>
        </div>
        <p>{{ form.submit(class_='form-control btn btn-success btn-lg') }}</p>
    </form>

    <script>
        function donation_check(){
            const paypal_donation_display = document.getElementById("paypal_donation_display");
            const paypal_donation = document.getElementById("paypal_donation");
            if (paypal_donation.checked == true){
                paypal_donation_display.style.display = 'block';
            } else {
                paypal_donation_display.style.display = 'none';
            }
        }
      </script>
{% endblock %}