{% extends 'base.html' %}

{% block content %}

    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <div class="row form-group">
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.total_due.label }}<br>
                    {{ form.total_due(class_='form-control', readonly=true) }}
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.payment_type.label }}<br>
                    {{ form.payment_type(class_='form-control') }}
                </p>
            </div>
        </div>
        <p>{{ form.submit(class_='form-control btn-primary btn-lg') }}</p>
    </form>
{% endblock %}