{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <table class="table table-reg table-reg-display table-responsive">
            <colgroup>
                <col span="1" style="background-color: #D6EEEE">
            </colgroup>
        <tbody>
            <tr> 
                <th style="background-color: #D6EEEE">Name: </th>
                <td>{{ reg['fname'] }} {{ reg['lname'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">SCA Name: </th>
                <td>{{ reg['scaname'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Registration ID: </th>
                <td>{{ reg['regid'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Invoice Number: </th>
                <td>{{ reg['invoice_number'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Age Range: </th>
                <td>{{ reg['rate_age'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Membership: </th>
                <td>{{ reg['rate_mbr'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Kingdom: </th>
                <td>{{ reg['kingdom'] }}</td>
            </tr>
            <tr>
                <th style="background-color: #D6EEEE">Camp Group: </th>
                <td>{{ reg['lodging'] }}</td>
            </tr>
        </tbody>
        </table>
    </div>
    <div class="col">
        <table class="table table-reg table-reg-display table-responsive">
            <tbody>
                <tr>
                    <th style="background-color: #D6EEEE">Medallion Number: </th>
                    <td>{{ reg['medallion'] }}</td>
                </tr>
                <tr>
                    <th style="background-color: #D6EEEE">Check-In Date: </th>
                    {% if reg['checkin'] %}
                    <td>{{ reg['checkin'].strftime('%m/%d/%Y %I:%M %p') }}</td>
                    {% else %}
                    <td>{{reg['checkin']}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="background-color: #D6EEEE">Waiver Signature: </th>
                    {% if reg['signature'] %}
                    <td><img src="{{ reg['signature'] }}" style="height: 15a0px; width:300px"> </td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
                <tr>
                    <th style="background-color: #D6EEEE">Onsite Emergency Contact: </th>
                    <td>{{ reg.onsite_contact_name }} ({{ reg.onsite_contact_sca_name }})
                        <br>Kingdom: {{ reg.onsite_contact_kingdom }}<br>
                        Group: {{ reg.onsite_contact_group }}</td>
                </tr>
                <tr>
                    <th style="background-color: #D6EEEE">Offsite Emergency Contact: </th>
                    <td>{{ reg.offsite_contact_name }} <br>
                        Phone: {{ reg.offsite_contact_phone }} </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    <div class="row">
        <div class="col">
            <table class="table table-reg table-reg-display table-responsive">
                <tr>
                    <th>Registration Price</th>
                    <th>PayPal Donation</th>
                    <th>Total Price</th>
                </tr>
                <tr>
                    {% if reg['nmr_donation'] %}
                    <td>{{ reg['price_calc'] + reg['nmr_donation'] }}</td>
                    <td>{{ reg['paypal_donation_amount'] }}</td>
                    <td>{{ reg['price_calc'] + reg['paypal_donation_amount'] + reg['nmr_donation'] }}</td>
                    {% else %}
                    <td>{{ reg['price_calc'] }}</td>
                    <td>{{ reg['paypal_donation_amount'] }}</td>
                    <td>{{ reg['price_calc'] + reg['paypal_donation_amount'] }}</td>
                    {% endif %}
                </tr>
                <h5>Cost - Breakdown</h5>
                <table class="table table-reg table-reg-display table-responsive">
                    <tr>
                        <th>Prepaid</th>
                        {% if reg['atd_pay_type'] %}
                        <th>At the Door ({{reg['atd_pay_type'].upper()}})</th>
                        {% else %}
                        <th>At the Door</th>
                        {% endif %}
                    </tr>
                    <br>
                    <h5>Payments Received</h5>
                    <tr>
                        <td>{{ reg['price_paid'] }}</td>
                        <td>{{ reg['atd_paid'] }}</td>
                    </tr>
            </table>
        </div>
        <div class="col">
            <h5>Notes:</h5>
            {{ reg['notes'] }}
        </div>
    </div>

    <br>
    {% if reg['atd_pay_type'] %}
    <h1 class="text-center" style="background-color: red; color: white;">{{reg['atd_pay_type'].upper()}} - ${{reg['atd_paid']}}</h1>
        {% if reg['rate_age'] == '18+' %}
        <h1 class="text-center m-0" style="background-color: red; color: white;">ADULT</h1> 
        {% if reg['rate_mbr'] != 'Member' %}
        <h1 class="text-center m-0" style="background-color: red; color: white;">NON-MEMBER </h1>
        {% endif %}
        {% endif %}
        {% if reg['paypal_donation'] == true %}
        <h1 class="text-center m-0" style="background-color: red; color: white;">PAYPAL DONATION</h1>
        {% endif %}
    {% endif %}
   

    {% if not reg['signature'] %}

        <form method="post">
            <div class="row form-group no-print">
                <div class="col form-group">
                    <p>
                        <a href="/waiver">
                            <button type="submit" name="action" value="waiver" class="form-control btn btn-success btn-lg">Waivers</button>
                        </a>
                    </p>
                </div>
            </div>
        </form>
    {% endif %}

    {% if (not reg['checkin']) and (reg['signature']) %}

        <form method="post">
            <div class="row form-group no-print">
                <div class="col form-group">
                    <p>
                        <a href="/checkin">
                            <button type="submit" name="action" value="checkin" class="form-control btn btn-success btn-lg">Check-In</button>
                        </a>
                    </p>
                </div>
            </div>
        </form>
    {% endif %}

    {% if reg['price_due'] > 0 and reg['checkin'] and reg['signature'] %}

    <form method="post">
        <div class="row form-group no-print">
            <div class="col form-group">
                <p>
                    <a href="/payment">
                        <button type="submit" name="action" value="payment" class="form-control btn btn-success btn-lg">Payment</button>
                    </a>
                </p>
            </div>
        </div>
    </form>
{% endif %}
    
    {% if reg['checkin'] %}
    {% if reg['atd_paid'] > 0 %}
        <div class="row form-group no-print">
            <div class="col form-group">
                <button value='Print' type='button' class="btn btn-primary btn-lg form-control" onclick='handlePrint()'>Print</button>        
            </div>
        </div>
        <script type="text/javascript">
        const handlePrint = () => {
            var actContents = document.body.innerHTML;
            document.body.innerHTML = actContents;
            window.print();
            window.print();
        }
        </script>
    {% endif %}
        <div class="row form-group no-print">
            <div class="col form-group">
                <a href="/" class="btn btn-success btn-lg form-control" role="button">Done</a>         
            </div>
        </div>
    {%endif%}
    {% if current_user.has_role('Admin') or current_user.has_role('Department Head') or current_user.has_role('Troll Shift Lead')%}
    <form method="post">
        <div class="row form-group no-print">
            <div class="col form-group">
                <p>
                    <a href="/">
                        <button type="submit" name="action" value="Edit" class="form-control btn btn-warning btn-lg">Edit</button>
                    </a>              
                </p>
            </div>
        </div>
    </form>
    {% endif %}
        <!-- <br>
        <form method="post">
        <a href="/editreg">
            <button type="submit" name="action" value="editreg" class="btn btn-primary">Edit</button>
        </a>
        </form> -->
    
   
   
{% endblock %}