@media (1400px <= width) {
    .container{
        max-width: 75%;
        min-height: 85vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (1200px <= width <= 1400px) {
    .container{
        max-width: 80%;
        min-height: 85vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (992px <= width <= 1200px) {
    .container{
        max-width: 90%;
        min-height: 85vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

@media (768px <= width <= 992px) {
    .container{
        max-width: 95%;
        min-height: 85vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
}
 
@media (576px <= width <= 768px) {
    .container{
        max-width: 95%;
        min-height: 85vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .title{
        display: none;
    }
}

@media (width <= 576px) {
    .container{
        max-width: 100%;
        min-height: 80vh;
        background-color: #f8f9fa;
        border-radius: 1em;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .title{
        display: none;
    }
}

@media print { body { background: transparent !important; } }

.navbar-text{
    padding-left: 1vw;
    padding-right: 1vw;
}

body {
    background-color: #dee2e6;
}

.table-reg, .table-reg > tbody > tr {
    border: 2px solid #dee2e6 !important;
    border-color: #dee2e6 !important;
    border-radius: 1rem !important;
}

.table-reg-display > tbody, .table-reg-display > thead {
    width: 100%;
    display: table;
}

.nav-item{
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    /* border: 2px #eee solid; */
    color: brown;
    text-align: center;
    padding: 10px;
}

/* th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 40px;
  }
  div {
    margin-top:1em;
    margin-bottom:1em;
} */
.custom-input-space {
    padding: .5em;
    margin: .5em;
}
/* select {
    padding: .5em;
    margin: .5em;
} */

.big-checkbox {width: 30px; height: 30px; display: block; margin: auto;}

#signatureparent {
    color:darkblue;
    background-color:darkgrey;
    /*max-width:600px;*/
    padding:20px;
}

/*This is the div within which the signature canvas is fitted*/
#signature-pad {
    border: 2px dotted black;
    background-color:lightgrey;
    max-width:600px;
    max-height:200px;
}

/* Drawing the 'gripper' for touch-enabled devices */ 
html.touch #content {
    float:left;
    width:92%;
}
html.touch #scrollgrabber {
    float:right;
    width:4%;
    margin-right:2%;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAFCAAAAACh79lDAAAAAXNSR0IArs4c6QAAABJJREFUCB1jmMmQxjCT4T/DfwAPLgOXlrt3IwAAAABJRU5ErkJggg==)
}
html.borderradius #scrollgrabber {
    border-radius: 1em;
}

.error {
    margin-top: 0;
    color: red;
}

@media print {
    .no-print {
        display: none;
    }
}
.reg_card { 
    background-color: grey; 
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
}

.reg_card_checkedin {
    background-color: rgba(51, 170, 51, .2); 
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
}
.reg_card_notcheckedin {
    background-color: rgba(170, 51, 51, 0.2); 
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 10px;
}

.reg_card_canceled {
    background-color: rgba(170, 158, 51, 0.2); 
    border-radius: 25px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 2px;
    margin-right: 2px;
}
 
svg {fill:black; float:left}
/* Font Definitions */
@font-face
{font-family:"Cambria Math";
panose-1:2 4 5 3 5 4 6 3 2 4;
mso-font-charset:0;
mso-generic-font-family:roman;
mso-font-pitch:variable;
mso-font-signature:-536869121 1107305727 33554432 0 415 0;}
@font-face
{font-family:Calibri;
panose-1:2 15 5 2 2 2 4 3 2 4;
mso-font-charset:0;
mso-generic-font-family:swiss;
mso-font-pitch:variable;
mso-font-signature:-469750017 -1073732485 9 0 511 0;}
/* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
{mso-style-unhide:no;
mso-style-qformat:yes;
mso-style-parent:"";
margin-top:0in;
margin-right:0in;
margin-bottom:8.0pt;
margin-left:0in;
line-height:107%;
mso-pagination:widow-orphan;
font-size:11.0pt;
font-family:"Calibri",sans-serif;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;
mso-font-kerning:1.0pt;
mso-ligatures:standardcontextual;}
span.SpellE
{mso-style-name:"";
mso-spl-e:yes;}
.MsoChpDefault
{mso-style-type:export-only;
mso-default-props:yes;
mso-ascii-font-family:Calibri;
mso-ascii-theme-font:minor-latin;
mso-fareast-font-family:Calibri;
mso-fareast-theme-font:minor-latin;
mso-hansi-font-family:Calibri;
mso-hansi-theme-font:minor-latin;
mso-bidi-font-family:"Times New Roman";
mso-bidi-theme-font:minor-bidi;}
.MsoPapDefault
{mso-style-type:export-only;
margin-bottom:8.0pt;
line-height:107%;}
@page WordSection1
{size:8.5in 11.0in;
margin:.5in .3in 8.65pt .75in;
mso-header-margin:.5in;
mso-footer-margin:.5in;
mso-paper-source:0;}
div.WordSection1
{page:WordSection1;}

.vh-50 {
    height: 50vh;
  }

.vh-75 {
    height: 75vh;
  }

.minw-50 {
    min-width: 50px;
}

.minw-100 {
    min-width: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}