{% extends 'base.html' %}

{% block content %}

    <form action="" method="post">
        <h2>Delete Lodging</h2>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    Lodging Name
                    <input type="text" class="form-control m-0" name="name" value="{{ lodging.name }}" readonly>
                </p>
            </div>
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    <button type="submit" class="form-control m-0 btn btn-danger">Delete Lodging</button>
                </p>
            </div>
        </div>
    </form>

    
{% endblock %}