{% extends 'base.html' %}

{% block content %}

    <a href="{{ url_for('kingdom.createkingdom') }}" class="btn btn-primary">Create New Kingdom</a>
    <a href="{{ url_for('kingdom.uploadkingdom') }}" class="btn btn-primary">Upload Kingdoms</a>

    {% if kingdoms %}
    <table id="kingdomTable"
    data-toggle="table"
    data-filter-control="true"
    data-sortable="true"
    data-pagination="true"
    data-show-columns="true"
    data-show-columns-toggle-all="true"
    data-toolbar="#toolbar"
    data-show-toggle="true"
    data-show-fullscreen="true"
    data-show-export="true"
    data-export-types="['csv', 'excel', 'pdf']"
    data-minimum-count-columns="2"
    data-show-pagination-switch="true"
    data-page-list="[10, 25, 50, 100, all]"
    data-response-handler="responseHandler"
    data-detail-view="true"
    data-detail-view-icon="false"
    data-mobile-responsive="true"
    data-check-on-init="true"
    data-classes="table table-striped table-responsive">

        <thead>
            <th data-field="id">ID</th>
            <th data-field="name" data-filter-control="input">Name</th>
            <th data-field="edit">Edit</th>
            <th data-field="delete">Delete</th>
        </thead>
        <tbody>
            {% for kingdom in kingdoms %}
            <tr>
                <td>
                    {{kingdom.id}}
                </td>
                <td>
                    {{kingdom.name}}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{url_for('kingdom.editkingdom', kingdomid=kingdom.id)}}" role="button">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" href="{{url_for('kingdom.deletekingdom', kingdomid=kingdom.id)}}" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endblock %}