{% extends 'base.html' %}

{% block content %}

        <div class="row">
            <div class="col">
                Edit Bow
                <form action="/marshal/{{reg.id}}/editbow/{{bow.id}}" method="POST">
                    {{form.poundage.label}}
                    {{form.poundage(class_='form-control')}}
                    {{form.combat_archery_type.label}}
                    {{form.combat_archery_type(class_='form-control')}}
                    {{form.submit(class_='form-control btn btn-primary')}}
                </form>
            </div>
        </div>
        
{% endblock %}