{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Update Open Invoice {% endblock %}</h1>
{% if inv.invoice_type == 'REGISTRATION' %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>RegID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Age</th>
                    <th>Communication Email</th>
                    <th>Registration</th>
                    <th>NMR</th>
                    <th>PayPal Donation</th>
                    <th>Balance</th>
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.scaname }}</td>
                        <td>{{ reg.age }}</td>
                        <td>{{ reg.email }}</td>
                        <td>{{ reg.registration_price }}</td>
                        <td>{{ reg.nmr_price }}</td>
                        <td>{{ reg.paypal_donation }}</td>
                        <td>{{ reg.balance }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        {% with field=form.invoice_email, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_status, disabled=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.invoice_number, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.paypal_donation, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.registration_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.payment_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_type, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.check_num %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <p>{{ form.submit(class_='form-control btn btn-warning btn-lg') }}</p>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Non-Payment</button></a></p>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Duplicate</button></a></p>
<p><a href="{{url_for('invoices.remind', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-primary btn-lg" type="button">Send Reminder</button></a></p>
    </div>
</form>
{% elif inv.invoice_type=='MERCHANT' %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>MerchantID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Space Fee</th>
                    <th>Processing Fee</th>
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.sca_name }}</td>
                        <td>{{ reg.phone }}</td>
                        <td>{{ reg.email }}</td>
                        <td>{{ reg.space_fee }}</td>
                        <td>{{ reg.processing_fee }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        {% with field=form.notes %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        {% with field=form.invoice_email, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_status, disabled=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.invoice_number, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.space_fee, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.processing_fee, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.payment_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_type, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.check_num %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <p>{{ form.submit(class_='form-control btn btn-warning btn-lg') }}</p>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Non-Payment</button></a></p>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Duplicate</button></a></p>
<p><a href="{{url_for('invoices.remind', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-primary btn-lg" type="button">Send Reminder</button></a></p>
    </div>
</form>
{% elif inv.invoice_type=='EARLYON' %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>EarlyOnID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Rider Fee</th>
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.registration.fname }} {{ reg.registration.lname }}</td>
                        <td>{{ reg.registration.scaname }}</td>
                        <td>{{ reg.registration.phone }}</td>
                        <td>{{ reg.registration.invoice_email }}</td>
                        <td>{{ reg.registration.rider_cost }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        {% with field=form.notes %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        {% with field=form.invoice_email, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_status, disabled=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.invoice_number, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.rider_fee, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.invoice_amount, disabled=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_date, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.payment_amount, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <div class="row">
        {% with field=form.payment_type, required=true %}
        {% include 'form_field.html' %}
        {% endwith %}
        {% with field=form.check_num %}
        {% include 'form_field.html' %}
        {% endwith %}
    </div>
    <p>{{ form.submit(class_='form-control btn btn-warning btn-lg') }}</p>
    </div>
</form>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Non-Payment</button></a></p>
<p><a href="{{url_for('invoices.nonpayment', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-danger btn-lg" type="button">Mark Duplicate</button></a></p>
<p><a href="{{url_for('invoices.remind', invnumber=inv.invoice_number)}}"><button class="form-control btn btn-primary btn-lg" type="button">Send Reminder</button></a></p>
{% endif %}


{% endblock %}

{% block script %}

{% endblock %}