{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>RegID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Age</th>
                    <th>Communication Email</th>
                    <th>Registration</th>
                    <th>NMR</th>
                    <th>PayPal Donation</th>
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr> 
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.scaname }}</td>
                        <td>{{ reg.age }}</td>
                        <td>{{ reg.email }}</td>
                        <td>{{ reg.registration_price }}</td>
                        <td>{{ reg.nmr_price }}</td>
                        <td>{{ reg.paypal_donation }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_email.label }}<br>
                {{ form.invoice_email(class_='form-control', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_date.label }}<br>
                {{ form.invoice_date(class_='form-control', readonly=true) }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_number.label }}<br>
                {{ form.invoice_number(class_='form-control', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.paypal_donation.label }}<br>
                {{ form.paypal_donation(class_='form-control', readonly=true) }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.registration_amount.label }}<br>
                {{ form.registration_amount(class_='form-control', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_amount.label }}<br>
                {{ form.invoice_amount(class_='form-control', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.payment_date.label }}<br>
                {{ form.payment_date(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.payment_amount.label }}<br>
                {{ form.payment_amount(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.payment_type.label }}<br>
                {{ form.payment_type(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.check_num.label }}<br>
                {{ form.check_num(class_='form-control') }}
            </p>
        </div>
    </div>
    <p>{{ form.submit(class_='form-control btn btn-primary btn-lg') }}</p>
</div>
    </form>

   
{% endblock %}

{% block script %}

{% endblock %}