{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create Invoice {% endblock %}</h1>
{% if type=="REGISTRATION" %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>RegID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Age</th>
                    <th>Communication Email</th>
                    <th>Registration</th>
                    <th>NMR</th>
                    <th>PayPal Donation</th>
                    <th>Balance</th>
                    <th>Related Actions</th>
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.scaname }}</td>
                        <td>{{ reg.age }}</td>
                        <td>{{ reg.email }}</td>
                        <td>{{ reg.registration_price }}</td>
                        <td>{{ reg.nmr_price }}</td>
                        <td>{{ reg.paypal_donation }}</td>
                        <td>{{ reg.balance }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Related Actions">
                                <a href="{{url_for('registration.editreg', regid=reg.id)}}"><button
                                        class="btn btn-primary" type="button">Edit</button></a>
                                <a href="{{url_for('registration.duplicate', regid=reg.id)}}"><button
                                        class="btn btn-danger" type="button">Mark Duplicate</button></a>
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_email.label }}<br>
                {{ form.invoice_email(class_='form-control') }}
                {% if form.invoice_email.errors %}{% for error in form.invoice_email.errors %}<span class="error">{{
                    error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_date.label }}<br>
                {{ form.invoice_date(class_='form-control') }}
                {% if form.invoice_date.errors %}{% for error in form.invoice_date.errors %}<span class="error">{{ error
                    }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_number.label }}<br>
                {{ form.invoice_number(class_='form-control') }}
                {% if form.invoice_number.errors %}{% for error in form.invoice_number.errors %}<span class="error">{{
                    error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.registration_amount.label }}<br>
                {{ form.registration_amount(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.nmr_amount.label }}<br>
                {{ form.nmr_amount(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.paypal_donation.label }}<br>
                {{ form.paypal_donation(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_amount.label }}<br>
                {{ form.invoice_amount(class_='form-control') }}
            </p>
        </div>
    </div>
    <p>{{ form.submit(class_='form-control btn btn-primary btn-lg') }}</p>
    <p><button type="submit" name="action" value="manualinvoice" class="form-control btn btn-warning btn-lg">Create
            Manual Invoice</button></p>
    <p><button type="submit" name="action" value="zeroinvoice" class="form-control btn btn-warning btn-lg">Acknowledge Zero Dollar Invoice</button></p>
    </div>
</form>
{% elif type=="MERCHANT" %}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>MerchantID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Space Fee</th>
                    <th>Processing Fee</th>
                    <!-- <th>Mark Duplicate</th> -->
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.sca_name }}</td>
                        <td>{{ reg.phone }}</td>
                        <td>{{ reg.email }}</td>
                        <td>{{ reg.space_fee }}</td>
                        <td>{{ reg.processing_fee }}</td>
                        <!-- <td><a href="{{url_for('registration.duplicate', regid=reg.id)}}"><button class="btn btn-danger" type="button">Mark Duplicate</button></a></td> -->
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_email.label }}<br>
                {{ form.invoice_email(class_='form-control') }}
                {% if form.invoice_email.errors %}{% for error in form.invoice_email.errors %}<span class="error">{{
                    error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_date.label }}<br>
                {{ form.invoice_date(class_='form-control') }}
                {% if form.invoice_date.errors %}{% for error in form.invoice_date.errors %}<span class="error">{{ error
                    }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_number.label }}<br>
                {{ form.invoice_number(class_='form-control') }}
                {% if form.invoice_number.errors %}{% for error in form.invoice_number.errors %}<span class="error">{{
                    error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.space_fee.label }}<br>
                {{ form.space_fee(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.processing_fee.label }}<br>
                {{ form.processing_fee(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.merchant_fee.label }}<br>
                {{ form.merchant_fee(class_='form-control') }}
            </p>
        </div>
    </div>
    <p>{{ form.submit(class_='form-control btn btn-primary btn-lg') }}</p>
    <p><button type="submit" name="action" value="manualinvoice" class="form-control btn btn-warning btn-lg">Create
            Manual Invoice</button></p>
    </div>
</form>
{% elif type=='EARLYON' %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-responsive">
                <thead>
                    <th>EarlyOnID</th>
                    <th>Name</th>
                    <th>SCA Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Rider Fee</th>
                    <!-- <th>Mark Duplicate</th> -->
                </thead>
                <tbody>
                    {% if regs %}
                    {% for reg in regs %}
                    <tr>
                        <td>{{ reg.id }}</td>
                        <td>{{ reg.registration.fname }} {{ reg.lname }}</td>
                        <td>{{ reg.registration.scaname }}</td>
                        <td>{{ reg.registration.phone }}</td>
                        <td>{{ reg.registration.invoice_email }}</td>
                        <td>{{ reg.rider_cost }}</td>
                        <!-- <td><a href="{{url_for('registration.duplicate', regid=reg.id)}}"><button class="btn btn-danger" type="button">Mark Duplicate</button></a></td> -->
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <h4>Invoice Information</h4>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_email.label }}<br>
                {{ form.invoice_email(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_date.label }}<br>
                {{ form.invoice_date(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_number.label }}<br>
                {{ form.invoice_number(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.rider_fee.label }}<br>
                {{ form.rider_fee(class_='form-control') }}
            </p>
        </div>
    </div>
    <p>{{ form.submit(class_='form-control btn btn-primary btn-lg') }}</p>
    <p><button type="submit" name="action" value="manualinvoice" class="form-control btn btn-warning btn-lg">Create
            Manual Invoice</button></p>
    </div>
</form>
{% endif %}


{% endblock %}

{% block script %}

{% endblock %}