{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Unsent Invoices {% endblock %}</h1>
<div class="row">
  <div class="col text-center">
    <b>Total PreRegs: {{counts['Prereg']}}</b>
  </div>
  <div class="col text-center">
    <b>UNSENT Reg Total: {{counts['Regs']}}</b>
  </div>
  <div class="col text-center">
    <b>UNSENT Invoice Count: {{counts['Inv']}}</b>
  </div>
</div>


<div class="row">
  <div class="col">
    <table id="invoiceTable" data-toggle="table" data-filter-control="true" data-sortable="true" data-pagination="true"
      data-show-columns="true" data-show-columns-toggle-all="true" data-toolbar="#toolbar" data-show-toggle="true"
      data-show-fullscreen="true" data-show-export="true" data-export-types="['csv', 'excel', 'pdf']"
      data-minimum-count-columns="2" data-show-pagination-switch="true" data-page-list="[10, 25, 50, 100, all]"
      data-response-handler="responseHandler" data-detail-view="true" data-detail-view-icon="false"
      data-mobile-responsive="true" data-check-on-init="true" data-sort-select-options="true" data-classes="table table-striped table-responsive">
      <thead>
        <tr>
          <th data-field="invoice_type" data-filter-control="select" data-sortable="true">Invoice Type</th>
          <th data-field="registrations">Registrations</th>
          <th data-field="invoice_number" data-filter-control="input">Invoice Number</th>
          <th data-field="invoice_date" data-filter-control="datepicker">Invoice Date</th>
          <th data-field="email" data-filter-control="input">Email</th>
          <th data-field="update">Update</th>
        </tr>
      </thead>
      <tbody>
        {% if reg_invoices %}
        {%for invoice in reg_invoices %}
        <tr>
          <td>
            {{reg_invoices[invoice]['invoice_type']}}
          </td>
          {% if reg_invoices[invoice]['registrations'] %}
          <td>
            {% for reg in reg_invoices[invoice]['registrations'] %}
            {{reg}}, 
            {% endfor %}
          </td>
          {% else %}
          <td>None</td>
          {% endif %}
          <td>
            {{reg_invoices[invoice]['invoice_number']}}
          </td>
          {% if reg_invoices[invoice]['invoice_date'] %}
          <td>
            {{reg_invoices[invoice]['invoice_date'].strftime('%m-%d-%Y')}}
          </td>
          {% else %}
          <td>
            None
          </td>
          {% endif %}
          <td>
            {{reg_invoices[invoice]['invoice_email']}}
          </td>
          <td>
            <a class="btn btn-primary"
              href="{{url_for('invoices.createinvoice', regids=[reg_invoices[invoice]['registrations']], type=reg_invoices[invoice]['invoice_type'])}}"
              role="button">Create Invoice</a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if merchant_invoices %}
        {%for invoice in merchant_invoices %}
        <tr>
          <td>
            {{merchant_invoices[invoice]['invoice_type']}}
          </td>
          {% if merchant_invoices[invoice]['registrations'] %}
          <td>
            {% for reg in merchant_invoices[invoice]['registrations'] %}
            {{reg}}, 
            {% endfor %}
          </td>
          {% else %}
          <td>None</td>
          {% endif %}
          <td>
            {{merchant_invoices[invoice]['invoice_number']}}
          </td>
          {% if merchant_invoices[invoice]['invoice_date'] %}
          <td>
            {{merchant_invoices[invoice]['invoice_date'].strftime('%m-%d-%Y')}}
          </td>
          {% else %}
          <td>
            None
          </td>
          {% endif %}
          <td>
            {{merchant_invoices[invoice]['invoice_email']}}
          </td>
          <td>
            <a class="btn btn-primary"
              href="{{url_for('invoices.createinvoice', regids=[merchant_invoices[invoice]['registrations']], type=merchant_invoices[invoice]['invoice_type'])}}"
              role="button">Create Invoice</a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
        {% if earlyon_invoices %}
        {%for invoice in earlyon_invoices %}
        <tr>
          <td>
            {{earlyon_invoices[invoice]['invoice_type']}}
          </td>
          {% if earlyon_invoices[invoice]['registrations'] %}
          <td>
            {% for reg in earlyon_invoices[invoice]['registrations'] %}
            {{reg}}, 
            {% endfor %}
          </td>
          {% else %}
          <td>None</td>
          {% endif %}
          <td>
            {{earlyon_invoices[invoice]['invoice_number']}}
          </td>
          {% if earlyon_invoices[invoice]['invoice_date'] %}
          <td>
            {{earlyon_invoices[invoice]['invoice_date'].strftime('%m-%d-%Y')}}
          </td>
          {% else %}
          <td>
            None
          </td>
          {% endif %}
          <td>
            {{earlyon_invoices[invoice]['invoice_email']}}
          </td>
          <td>
            <a class="btn btn-primary"
              href="{{url_for('invoices.createinvoice', regids=[earlyon_invoices[invoice]['registrations']], type=earlyon_invoices[invoice]['invoice_type'])}}"
              role="button">Create Invoice</a>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function searchEmailFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchEmailInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("invoiceTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function searchInvoiceFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInvoiceInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("invoiceTable");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  function searchStatusFunction() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchStatusInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("invoiceTable");
    tr = table.getElementsByTagName("tr");

    if (filter == '-') {
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[6];
        if (td) {
          tr[i].style.display = "";
        }
      }
    }
    else {
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[6];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().trim() == filter) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  }
</script>

{% endblock %}