{% extends 'base.html' %}

{% block content %}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <table class="table table-reg table-reg-display table-responsive">
                <tbody>
                    <tr> 
                        <td style="background-color: #D6EEEE">Name: </td>
                        <td>{{ reg.fname }} {{ reg.lname }}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #D6EEEE">SCA Name: </td>
                        <td>{{ reg.scaname }}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #D6EEEE">Registration Type: </td>
                        <td>{{ reg.rate_age }}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #D6EEEE">Invoice Email: </td>
                        <td>{{ reg.invoice_email }}</td>
                    </tr>
                    <tr>
                        <td style="background-color: #D6EEEE">Communication Email: </td>
                        <td>{{ reg.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(class_='form-control') }}
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <p>
                {{ form.invoice_date.label }}<br>
                {{ form.invoice_date(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_number.label }}<br>
                {{ form.invoice_number(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.price_calc.label }}<br>
                {{ form.price_calc(class_='form-control', readonly=true) }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.paypal_donation_amount.label }}<br>
                {{ form.paypal_donation_amount(class_='form-control', readonly=true) }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.price_due.label }}<br>
                {{ form.price_due(class_='form-control', readonly=true) }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                {{ form.price_paid.label }}<br>
                {{ form.price_paid(class_='form-control') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.invoice_payment_date.label }}<br>
                {{ form.invoice_payment_date(class_='form-control') }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>
                {{ form.invoice_canceled.label }}<br>
                {{ form.invoice_canceled(class_='form-check-input big-checkbox') }}
            </p>  
        </div>
        <div class="col text-center">
            <p>
                {{ form.duplicate_invoice.label }}<br>
                {{ form.duplicate_invoice(class_='form-check-input big-checkbox') }}
            </p>  
        </div>
        <div class="col text-center">
            <p>
                {{ form.is_check.label }}<br>
                {{ form.is_check(class_='form-check-input big-checkbox') }}
            </p>  
        </div>
    </div>
    <p>{{ form.submit(class_='form-control btn btn-primary btn-lg') }}</p>
</div>
    </form>

   
{% endblock %}

{% block script %}

{% endblock %}