{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
            <form action="" method="post">
                <div class="row form-group">
                    <div class="col form-group">
                        <p>
                            {{ form.id.label }}
                            {{ form.id(class_='form-control m-0', readonly=true) }}
                        </p>
                    </div>
                    <div class="col form-group">
                        <p>
                            {{ form.username.label }}
                            {{ form.username(class_='form-control m-0', readonly=true) }}
                        </p>
                    </div>
                    <div class="col form-group">
                        <p>
                            {{ form.active.label(class_='form-check-label') }}
                            {{ form.active(class_='form-check-input big-checkbox') }}
                        </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col form-group">
                        <p>
                            {{ form.fname.label }}
                            {{ form.fname(class_='form-control m-0') }}
                        </p>
                    </div>
                    <div class="col form-group">
                        <p>
                            {{ form.lname.label }}
                            {{ form.lname(class_='form-control m-0') }}
                        </p>
                    </div>
                    <div class="col form-group">
                        <p>
                            {{ form.medallion.label }}
                            {{ form.medallion(class_='form-control m-0') }}
                        </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col form-group">
                        <p>
                            {{ form.department.label }}
                            {{ form.department(class_='form-control m-0') }}
                        </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col form-group">
                        <p>
                            {{ form.role.label }}
                            {{ form.role(class_='form-control m-0') }}
                        </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col form-group">
                        <p>
                            <input class="form__submit form__input btn btn-primary form-control m-0" type="submit" value="Submit" name="select_value"/>
                        </p>
                    </div>
                </div>
            </form>
    </div>
</div>


{% endblock %}