{% extends 'base.html' %}

{% block content %}

<table id="userTable" class="table table-striped table-reg">
    <thead>
        <tr>
            <th>Active</th>
            <th>User Name</th>
            <th>Role</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Edit</th>
            <th>Password Reset</th>
        </tr>
    </thead>
    <tbody>
        {%for user in users %}
        <tr>
            <form action='/users/{{user.id}}'>
                <td style="display: none;">
                    <input type="hidden" name="userid" id="userid" value="{{user.id}}">{{user.id}}
                </td>
                <td>
                    {{user.active}}
                </td>
                <td> 
                    {{user.username}}
                </td>
                <td> 
                {% for role in user.roles %}
                    {{role.name}}
                    <br/>
                {% endfor %}
                </td>
                <td> 
                    {{user.fname}}
                </td>
                <td> 
                    {{user.lname}}
                </td>
                <td>
                    <input class="form__submit form__input btn-secondary form-control" type="Submit" value="Edit" name="submitValue"/>
                </td>
                <td>
                    <input class="form__submit form__input btn-secondary form-control" type="Submit" value="Password Reset" name="submitValue"/>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}