{% extends 'base.html' %}

{% block content %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
                <h1>{% block title %} Edit Pricesheet {% endblock %}</h1>
        <div class="row form-group">
            {% with field=form.arrival_date, disabled=True %}
                {% include 'form_field.html' %}
            {% endwith %}

        </div>
        <div class="row form-group">
            {% with field=form.prereg_price, required=True %}
                {% include 'form_field.html' %}
            {% endwith %}
            {% with field=form.atd_price, required=True %}
                {% include 'form_field.html' %}
            {% endwith %}
        </div>
        <div class="row form-group">
            <div class="col form-group">
                <p>
                    {{ form.submit.label }}
                    {{ form.submit(class_='form-control m-0') }}
                </p>
            </div>
        </div>
    </form>

    
{% endblock %}