{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Registration {% endblock %}</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.fname.label }} <span style="color: red;">*</span><br>
                {{ form.fname(class_='form-control m-0') }}
                {% if form.fname.errors %}{% for error in form.fname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
 
            <p>
                {{ form.lname.label }} <span style="color: red;">*</span><br>
                {{ form.lname(class_='form-control m-0') }}
                {% if form.lname.errors %}{% for error in form.lname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.scaname.label }}<br>
                {{ form.scaname(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.rate_age.label }} <span style="color: red;">*</span><br>
                {{ form.rate_age(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.rate_mbr.label }} <span style="color: red;">*</span><br>
                {{ form.rate_mbr(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.mbr_num.label }}<br>
                {{ form.mbr_num(class_='form-control m-0') }}
                {% if form.mbr_num.errors %}{% for error in form.mbr_num.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.mbr_num_exp.label }}<br>
                {{ form.mbr_num_exp(class_='form-control m-0') }}
                {% if form.mbr_num_exp.errors %}{% for error in form.mbr_num_exp.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.kingdom.label }}<br>
                {{ form.kingdom(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.lodging.label }} <span style="color: red;">*</span><br>
                {{ form.lodging(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.city.label }}<br>
                {{ form.city(class_='form-control m-0') }}
            </p>
            {% if form.city.errors %}{% for error in form.city.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                {{ form.state_province.label }}<br>
                {{ form.state_province(class_='form-control m-0') }}
            </p>
            {% if form.state_province.errors %}{% for error in form.state_province.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.zip.label }}<br>
                {{ form.zip(class_='form-control m-0') }}
            </p>
            {% if form.zip.errors %}{% for error in form.zip.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                {{ form.country.label }}<br>
                {{ form.country(class_='form-control m-0') }}
            </p>
            {% if form.country.errors %}{% for error in form.country.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.phone.label }} <span style="color: red;">*</span><br>
                {{ form.phone(class_='form-control m-0') }}
            </p>
            {% if form.phone.errors %}{% for error in form.phone.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                Communication Email<br>
                {{ form.email(class_='form-control m-0') }}
            </p>
            {% if form.email.errors %}{% for error in form.email.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
    </div>
    <h4>Onsite - Emergency Contact</h4>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.onsite_contact_name.label }} <span style="color: red;">*</span><br>
                {{ form.onsite_contact_name(class_='form-control m-0') }}
            </p>
            {% if form.onsite_contact_name.errors %}{% for error in form.onsite_contact_name.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                {{ form.onsite_contact_sca_name.label }}<br>
                {{ form.onsite_contact_sca_name(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.onsite_contact_kingdom.label }} <span style="color: red;">*</span><br>
                {{ form.onsite_contact_kingdom(class_='form-control m-0') }}
            </p>
            {% if form.onsite_contact_kingdom.errors %}{% for error in form.onsite_contact_kingdom.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                {{ form.onsite_contact_group.label }} <span style="color: red;">*</span><br>
                {{ form.onsite_contact_group(class_='form-control m-0') }}
            </p>
            {% if form.onsite_contact_group.errors %}{% for error in form.onsite_contact_group.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
    </div>
    <h4>Offsite - Emergency Contact</h4>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.offsite_contact_name.label }} <span style="color: red;">*</span><br>
                {{ form.offsite_contact_name(class_='form-control m-0') }}
            </p>
            {% if form.offsite_contact_name.errors %}{% for error in form.offsite_contact_name.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
        <div class="col">
            <p>
                {{ form.offsite_contact_phone.label }} <span style="color: red;">*</span><br>
                {{ form.offsite_contact_phone(class_='form-control m-0') }}
            </p>
            {% if form.offsite_contact_phone.errors %}{% for error in form.offsite_contact_phone.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
        </div>
    </div>

    <p>{{ form.submit(class_='form-control m-0 btn-primary btn-lg') }}</p>
</form>

{% endblock %}