{% extends 'base_restricted.html' %}


{% block content %}
<div style="background-color: rgb(255, 255, 255); padding: 10px; border-radius: 1em;">
<h1>{% block title %} Gulf Wars XXXIII – March 8-16, 2025 {% endblock %}</h1>
<h3 class="text-center">King’s Arrow Ranch, Lumberton, Mississippi</h3>
<p class="text-center"><a href="http://www.gulfwars.org">www.gulfwars.org</a></p>

<table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col">Autocrats:</th>
        <th scope="col">
            Mistress Doe Flynn<br>
            THL AEoelboerht of Harduic<br>
            Mistress Catina Marciano<br>
            <a href="mailto:autocrats@gulfwars.org">autocrats@gulfwars.org</a>
        </th>
        <th scope="col">Registration:</th>
        <th scope="col">
            Gulf Wars Registrations CST 918-640-5242 <br>
            Mistress Jutte Vonderberg <a href="mailto:reservations@gulfwars.org">reservations@gulfwars.org</a><br>
            209 S Dogwood Ave. <br>
            Broken Arrow, OK 74012
        </th>
      </tr>
    </thead>
    </table>  
    <h5 class="text-center" style="color: red;">Deadline for online registration is 11:59 p.m. Central Time on Feb. 21, 2025.</h5>  

<table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th scope="col" style="color: red;">Arrival Dates and Rates</th>
        <th scope="col">Sat-Sun 03/08-03/09</th>
        <th scope="col">Mon-Tues 03/10-03/11</th>
        <th scope="col">Wed-Thurs 03/12-03/13</th>
        <th scope="col">Fri-Sat 03/14-03/15</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Pre-Registered Member</th>
        <td>$125.00</td>
        <td>$110.00</td>
        <td>$95.00</td>
        <td>$55.00</td>
      </tr>
      <tr>
        <th scope="row">At the Door Member</th>
        <td>$130.00</td>
        <td>$115.00</td>
        <td>$100.00</td>
        <td>$60.00</td>
      </tr>
      <tr>
        <th scope="row">CHILDREN 17 AND UNDER</th>
        <td>Free</td>
        <td>Free</td>
        <td>Free</td>
        <td>Free</td>
      </tr>
      <tr>
        <th scope="row">Pre-Registered Non-Member</th>
        <td>$135.00</td>
        <td>$120.00</td>
        <td>$105.00</td>
        <td>$65.00</td>
      </tr>
      <tr>
        <th scope="row">At the Door Non-Member</th>
        <td>$140.00</td>
        <td>$125.00</td>
        <td>$110.00</td>
        <td>$70.00</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="color: red;">THERE IS NO SEPARATE PRICING FOR DAYTRIPPERS. TRANSFERS OF RESERVATIONS ARE NOT ALLOWED.</th>
      </tr>
      <tr>
        <th scope="col" class="text-center" style="color: red;">Please use the same Invoicing Email for all registrations on the same invoice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"><span style="color: red;">Proof of Membership</span> is defined as a membership card, mailing label from a Society publication showing membership # and expiration date, payment acknowledgement from the Society registry, or statement showing check payment or charge to Society registry.</th>
      </tr>
      <tr>
        <th scope="row"><span style="color: red;">Refunds:</span> Requests for refunds must be made IN WRITING via mail or email to the Registration address (Gulf Wars Registrations, 209 S Dogwood Ave., Broken Arrow, OK 74012). They MUST be postmarked or dated ON OR BEFORE February 21, 2025 and MUST INCLUDE A COMPLETED REFUND <a href="https://gulfwars.org/wp-content/uploads/2025/01/GW-Refund-Request-Fillable-Site-Fee.pdf">REQUEST FORM</a>. Refunds for requests emailed or postmarked on or before February 21, 2025 will be made for any reason. Requests for refunds emailed or postmarked after February 21, 2025 will be at the discretion of the Gulf Wars Exchequer and the Gulf Wars Autocrat(s). There will be a processing fee of $10 (Ten Dollars) per canceled person, on ALL refunds. All refunds will be sent via check. You must include a valid mailing address with your request.</th>
      </tr>
      <tr>
        <th scope="row" class="text-center" style="color: red;">EARLY ON - Requires Department Head Approval
            Please select ‘EarlyOn’ for Arrival Date <br>
            Anyone not on the approved list will not be allowed to enter site until Troll opens on Saturday. 
            </th>
      </tr>
      <tr>
        <th scope="row" class="text-center" style="color: red;">ROYALS - Please select 'Royals' for Age Range</th>
      </tr>
      <tr>
        <th scope="row" class="text-center" style="color: red;">Deadline for online registration is 11:59 p.m. Central Time on Feb. 21, 2025.</th>
      </tr>
    </tbody>
  </table>

<form id='preregform' action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    <div class="row form-group">
        <div class="col form-group">
            <p>
                <b>Registrations on same Invoice:</b>
            </p>
            {% if reg_names %}
            {% for reg in reg_names %}
            <p>
                {{reg.fname}} {{reg.lname}}
            </p>
            {% endfor %}
            {% endif %}
            {% if additional_registrations %}
            {% for reg in additional_registrations %}
            <p>
                <input type="hidden" value="{{reg}}" name="additional_registration-{{loop.index}}" id="additional_registration-{{loop.index}}">
            </p>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                Please use the same Invoicing Email for all registrations on the same invoice.
            </p>
            <p>
                {{ form.invoice_email.label }}
                {{ form.invoice_email(class_='form-control m-0') }}
                {% if form.invoice_email.errors %}{% for error in form.invoice_email.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
    </div>

    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{ form.expected_arrival_date.label }}
                {{ form.expected_arrival_date(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.age.label }}<br>
                {{ form.age(class_='form-control m-0', onchange="royalCheck()") }}
            </p>
        </div>
    </div>
    <div id="royals" style="display: none;">
        <h4>Royals</h4>
        <div class="row form-group">

            <div class="col form-group">
                <p>
                    {{ form.royal_departure_date.label }}
                    {{ form.royal_departure_date(class_='form-control m-0') }}
                    {% if form.royal_departure_date.errors %}{% for error in form.royal_departure_date.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
            <div class="col">
                <p>
                    {{ form.royal_title.label }}<br>
                    {{ form.royal_title(class_='form-control m-0') }}
                    {% if form.royal_title.errors %}{% for error in form.royal_title.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.fname.label }}<br>
                {{ form.fname(class_='form-control m-0') }}
                {% if form.fname.errors %}{% for error in form.fname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.lname.label }}<br>
                {{ form.lname(class_='form-control m-0') }}
                {% if form.lname.errors %}{% for error in form.lname.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.scaname.label }}<br>
                {{ form.scaname(class_='form-control m-0') }}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.city.label }}<br>
                {{ form.city(class_='form-control m-0') }}
                {% if form.city.errors %}{% for error in form.city.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.state_province.label }}<br>
                {{ form.state_province(class_='form-control m-0') }}
                {% if form.state_province.errors %}{% for error in form.state_province.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.zip.label }}<br>
                {{ form.zip(class_='form-control m-0') }}
                {% if form.zip.errors %}{% for error in form.zip.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
        <div class="col">
            <p>
                {{ form.country.label }}<br>
                {{ form.country(class_='form-control m-0') }}
                {% if form.country.errors %}{% for error in form.country.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.phone.label }}<br>
                {{ form.phone(class_='form-control m-0') }}
                {% if form.phone.errors %}{% for error in form.phone.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
        <div class="col">
            <p>
                Communication Email<br>
                {{ form.email(class_='form-control m-0') }}
                {% if form.email.errors %}{% for error in form.email.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.kingdom.label }}<br>
                {{ form.kingdom(class_='form-control m-0') }}
                {% if form.kingdom.errors %}{% for error in form.kingdom.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
        <div class="col">
            <p>
                {{ form.lodging.label }}<br>
                {{ form.lodging(class_='form-control m-0') }}
                {% if form.lodging.errors %}{% for error in form.lodging.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.mbr.label }}<br>
                {{ form.mbr(class_='form-control m-0') }}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.mbr_num.label }}<br>
                {{ form.mbr_num(class_='form-control m-0') }}
                {% if form.mbr_num.errors %}{% for error in form.mbr_num.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                {{ form.mbr_num_exp.label }}<br>
                {{ form.mbr_num_exp(class_='form-control m-0') }}
                {% if form.mbr_num_exp.errors %}{% for error in form.mbr_num_exp.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>
        </div>
    </div>
    <h4>Emergency Contact</h4>
    <div class="row form-group">
        <div class="col">
            <p>
                {{ form.emergency_contact_name.label }}<br>
                {{ form.emergency_contact_name(class_='form-control m-0') }}
                {% if form.emergency_contact_name.errors %}{% for error in form.emergency_contact_name.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
        <div class="col">
            <p>
                {{ form.emergency_contact_phone.label }}<br>
                {{ form.emergency_contact_phone(class_='form-control m-0') }}
                {% if form.emergency_contact_phone.errors %}{% for error in form.emergency_contact_phone.errors %}<span class="error">{{ error }}</span>{% endfor %}{% endif %}
            </p>

        </div>
    </div>
    <div class="row form-group">
        <div class="col">
            <p class="text-center">
                {{ form.paypal_donation.label }}<br>
                {{ form.paypal_donation(class_='form-check-input big-checkbox') }}
            </p>
        </div>
    </div>

    <div id="new-reg-div"></div>
    <div class="row">
        <div class="col">
            <button type="submit" name="action" value="Complete" class="form-control btn-primary btn btn-lg custom-input-space">Complete</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" name="action" value="Submit_Another" class="form-control btn-secondary btn btn-lg custom-input-space">Submit Another Registration</button>
        </div>
    </div>

</form>


<table class="table">
    <tbody>
      <tr>
        <th scope="row">Land Questions? Please visit the Land Page here:<a href="https://gulfwars.org/site-info/land/">https://gulfwars.org/site-info/land/</a>
        <br>

        Site Rules for camps are also located here:<a href="https://gulfwars.org/policies/site-rules/">https://gulfwars.org/policies/site-rules/</a>
        <br>

        <span style="color: red;">ALL attendees are responsible for knowing Land and Site rules.</span> 
        </th>
        </tr>
      <tr>
        <th scope="row">Merchants: If you are interested in receiving a merchant packet contact <a href="mailto:merchantcrat@gulfwars.org">merchantcrat@gulfwars.org</a></th>
      </tr>
      <tr>
        <th scope="row">Animals: Any person bringing a service animal is asked to pre-register at: <a href="mailto:animalliaison@gulfwars.org">animalliaison@gulfwars.org</a></th>
      </tr>
      <tr>
        <th scope="row">Equestrians: For more information please visit: <a href="https://gulfwars.org/activities/animals/equestrian/">https://gulfwars.org/activities/animals/equestrian/</a><br>
        To Register your horse please visit: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfEsxwkK8v5eihH9ktAtf1LmzNEQXIszvxEPiJAwpzaUuw6og/viewform">https://docs.google.com/forms/d/e/1FAIpQLSfEsxwkK8v5eihH9ktAtf1LmzNEQXIszvxEPiJAwpzaUuw6og/viewform </a></th>
      </tr>
      <tr>
        <th scope="row">Please visit <a href="http://www.gulfwars.org">www.gulfwars.org</a> for more information on attending and participating at the War</th>
      </tr>
    </tbody>
  </table>
</div>

<script>

    document.onload = clearform()

    function clearform() {
        document.getElementById('expected_arrival_date').selectedIndex = 0
        document.getElementById('age').selectedIndex = 0
        document.getElementById('fname').value = ''
        document.getElementById('lname').value = ''
        document.getElementById('scaname').value = ''
        document.getElementById('city').value = ''
        document.getElementById('state_province').value = ''
        document.getElementById('zip').value = ''
        document.getElementById('country').value = ''
        document.getElementById('phone').value = ''
        document.getElementById('email').value = ''
        document.getElementById('mbr_num').value = ''
        document.getElementById('mbr_num_exp').value = ''
        document.getElementById('emergency_contact_name').value = ''
        document.getElementById('emergency_contact_phone').value = ''
        document.getElementById('paypal_donation').checked = false
        document.getElementById('kingdom').selectedIndex = 0
        document.getElementById('lodging').selectedIndex = 0
        document.getElementById('mbr').selectedIndex = 0
    }

    function royalCheck() {
        const age = document.getElementById("age").value;
        const royals = document.getElementById("royals");
        if (age == 'Royals') {
            royals.style.display = 'block';
        }
        else {
            royals.style.display = 'none';
        }
    }
    
</script>
{% endblock %}