{% extends 'base_restricted.html' %}

{% block content %}

<h1>Thank you for Pre-Registering for Gulf Wars 2025!</h1>
<h2>A PayPal Invoice will be sent to the email address provided during registration.</h2>
<h3>Paypal invoices will normally be received within 3 days (or 72 hours) of registration, but may take longer at peak registration times.</h3>
<br>
<h3>If you are registering for more than one person, please use the same email address to register.</h3>
<h4><a href="/registration">Register Another Person</a></h4>
<br>
<h4>If you are done with registration you can now safely close the window.</h4>
{% endblock %}