{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Registration {% endblock %}</h1>

    <h2>Notes</h2>
    <div class="row">
        <div class="col">
            <p>
                Notes
                <textarea class="form-control" disabled>{{ reg.notes }}</textarea>
            </p>
        </div>
    </div>

    <h2>Personal Information</h2>
    <div class="row">
        <div class="col">
            <p>
                First Name
                <input type="text" class="form-control" disabled value="{{ reg.fname }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Last Name
                <input type="text" class="form-control" disabled value="{{ reg.lname }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                SCA Name
                <input type="text" class="form-control" disabled value="{{ reg.scaname }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Age
                <input type="text" class="form-control" disabled value="{{ reg.age }}"/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                City
                <input type="text" class="form-control" disabled value="{{ reg.city }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                State/Province
                <input type="text" class="form-control" disabled value="{{ reg.state_province }}"/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Zip
                <input type="text" class="form-control" disabled value="{{ reg.zip }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Country
                <input type="text" class="form-control" disabled value="{{ reg.country }}"/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Phone
                <input type="text" class="form-control" disabled value="{{ reg.phone }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Email
                <input type="text" class="form-control" disabled value="{{ reg.email }}"/>
            </p>
        </div>
    </div>

    <h2>Site Information</h2>
    <div class="row">
        <div class="col">
            <p>
                Registration ID
                <input type="text" class="form-control" disabled value="{{ reg.id }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Medallion #
                <input type="text" class="form-control" disabled value="{{ reg.medallion }}"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Kingdom
                <input type="text" class="form-control" disabled value="{{ reg.kingdom.name }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Lodging
                <input type="text" class="form-control" disabled value="{{ reg.lodging.name }}"/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Expected Arrival Date
                <input type="text" class="form-control" disabled value="{{ reg.expected_arrival_date }}"/>
            </p>
        </div>
        <div class="col">
            <p class="text-center">
                EarlyOn Approved
                {% if reg.early_on_approved == true%}
                <input type="checkbox" class="form-check-input big-checkbox" disabled checked value="{{ reg.early_on_approved }}"/>
                {% else %}
                <input type="checkbox" class="form-check-input big-checkbox" disabled value="{{ reg.early_on_approved }}"/>
                {% endif %}
            </p>
        </div>
    </div>

    <h2>Membership</h2>
    <div class="row">
        <div class="col">
            <p class="text-center">
                Membership Status
                {% if reg.mbr == true%}
                <input type="checkbox" class="form-check-input big-checkbox" disabled checked value="{{ reg.mbr }}"/>
                {% else %}
                <input type="checkbox" class="form-check-input big-checkbox" disabled value="{{ reg.mbr }}"/>
                {% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                Membership Number
                <input type="text" class="form-control" disabled value="{{ reg.mbr_num }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Membership Expiration
                <input type="text" class="form-control" disabled value="{{ reg.mbr_num_exp }}"/>
            </p>
        </div>
    </div>

    <h2>Emergency Contact</h2>
    <div class="row">
        <div class="col">
            <p>
                Emergency Contact Name
                <input type="text" class="form-control" disabled value="{{ reg.emergency_contact_name }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Emergency Contact Phone
                <input type="text" class="form-control" disabled value="{{ reg.emergency_contact_phone }}"/>
            </p>
        </div>
    </div>

    <h2>Pricing Information</h2>
    <div class="row">
        <div class="col">
            <p class="text-center">
                Pre-Registered
                {% if reg.prereg == true%}
                <input type="checkbox" class="form-check-input big-checkbox" disabled checked value="{{ reg.prereg }}"/>
                {% else %}
                <input type="checkbox" class="form-check-input big-checkbox" disabled value="{{ reg.prereg }}"/>
                {% endif %}
            </p>
        </div>
        <div class="col">
            <p>
                Registration Total
                <input type="text" class="form-control" disabled value="{{ reg.registration_price }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                NMR Total
                <input type="text" class="form-control" disabled value="{{ reg.nmr_price}}"/>
            </p>
        </div>
        <div class="col">
            <p>
               PayPal Donation
               <input type="text" class="form-control" disabled value="{{ reg.paypal_donation }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Balance
                <input type="text" class="form-control" disabled value="{{ reg.total_due }}"/>
            </p>
        </div>
    </div>

    <h2>Balances</h2>
    <div class="row">
        <div class="col">
            <p>
                Registration Balance
                <input type="text" class="form-control" disabled value="{{ reg.registration_balance }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                NMR Balance
                <input type="text" class="form-control" disabled value="{{ reg.nmr_balance}}"/>
            </p>
        </div>
        <div class="col">
            <p>
               PayPal Balance
               <input type="text" class="form-control" disabled value="{{ reg.paypal_donation_balance }}"/>
            </p>
        </div>
        <div class="col">
            <p>
                Total Balance
                <input type="text" class="form-control" disabled value="{{ reg.balance }}"/>
            </p>
        </div>
    </div>

    <h2>Invoices</h2>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Invoice Number</th>
                    <th>Status</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    {% if reg.invoice %}
                    <tr>
                        <td>{{reg.invoice.invoice_number}}</td>
                        <td>{{reg.invoice.invoice_status}}</td>
                        <td>{{reg.invoice.invoice_total}}</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <h2>Payments</h2>
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-striped">
                <thead>
                    <th>Payment ID</th>
                    <th>Type</th>
                    <th>Total</th>
                </thead>
                <tbody>
                    {% if reg.payments %}
                    {% for payment in reg.payments %}
                    <tr>
                        <td>{{payment.id}}</td>
                        <td>{{payment.type}}</td>
                        <td>{{payment.amount}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
    <div class="col">
        <button id="runreport" class="form-control btn btn-primary" onclick="resend_fastpass()">Resend Fast Pass Email</button>
    </div>
</div>

   
{% endblock %}

{% block script %}

<script>

    async function resend_fastpass() {
        const path = window.location.pathname;
        const pathSegments = path.split('/');

        // Access specific segments by index
        const regid = pathSegments[2];
        const baseURL = window.location.origin+"/api/resend_fastpass";
        const url = new URL(baseURL);
        console.log(url)
        const params = {
            regid:regid,
        };
        url.search = new URLSearchParams(params).toString();
        await fetch(url)
            .then(response => response.json())
            .then((data) => {});
    }
    </script>

{% endblock %}