{% extends 'base.html' %}

{% block content %}

<h2>Change Password</h2>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.id.label}}
                {{form.id(readonly=true, class_='form-control m-0')}}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.username.label}}
                {{form.username(readonly=true, class_='form-control m-0')}}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.password.label}}
                {{form.password(class_='form-control m-0')}}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <p>
                {{form.confirm.label}}
                {{form.confirm(class_='form-control m-0')}}
            </p>
        </div>
    </div>
    <div class="row form-group">
        <div class="col form-group">
            <div class="col form-group">
                <p>
                    {{form.submit(class_='form-control m-0 btn-primary')}}
                </p>
            </div>
        </div>
    </div>
</form>
{% endblock %}