{% extends 'base.html' %}

{% block content %}
    <table>
        <colgroup>
            <col span="1" style="background-color: #D6EEEE">
        </colgroup>
        <tr> 
            <td>Name: </td>
            <td>{{ reg.fname }} {{ reg.lname }}</td>
        </tr>
        <tr>
            <td>SCA Name: </td>
            <td>{{ reg.scaname }}</td>
        </tr>
        <tr>
            <td>Camp Group: </td>
            <td>{{reg.lodging }}</td>
        </tr>
        <tr>
            <td>Medallion Number: </td>
            <td>{{ reg.medallion }}</td>
        </tr>
        <tr>
            <td>Check-In Date: </td>
            <td>{{ reg.checkin }}</td>
        </tr>
    </table>
    <br>
   
        
    <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.rate_mbr.label }}<br>
        {{ form.rate_mbr() }}
    </p>
    <p>
        {{ form.kingdom.label }}<br>
        {{ form.kingdom() }}
    </p>
    <p>
        {{ form.medallion.label }}<br>
        {{ form.medallion() }}
    </p>
    <p>{{ form.submit() }}</p>
    </form>

    <!-- <h5>Cost</h5>
    <table>
        <tr>
            <th>Registration Price</th>
            <th>Amount Paid</th>
            <th>Amount Due</th>
        </tr>
        <tr>
            <td>{{ price_calc }}</td>
            <td>{{ price_paid }}</td>
            <td>{{ price_due }}</td>
        </tr>
    </table> -->
{% endblock %}

{% block script %}
<!-- <script>
let mbrField = document.getElementById("rate_mbr");
let mbr = '{{ rate_mbr }}';

for(var i, j = 0; i = mbrField.options[j]; j++) {
    if(i.value == mbr) {
        mbrField.selectedIndex = j;
        break;
    }
}
let kingdomField = document.getElementById("kingdom");
let kingdom = '{{ kingdom }}';

for(var i, j = 0; i = kingdomField.options[j]; j++) {
    if(i.value == kingdom) {
        kingdomField.selectedIndex = j;
        break;
    }
} 
</script> -->
{% endblock %}