{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <form action="" method="post">
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.username.label }}
                        {{ form.username(class_='form-control m-0') }}
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.fname.label }}
                        {{ form.fname(class_='form-control m-0') }}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.lname.label }}
                        {{ form.lname(class_='form-control m-0') }}
                    </p>
                </div>
                <div class="col form-group">
                    <p>
                        {{ form.medallion.label }}
                        {{ form.medallion(class_='form-control m-0') }}
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.password.label }}
                        {{ form.password(class_='form-control m-0') }}
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.role.label }}
                        {{ form.role(class_='form-control m-0') }}
                    </p>
                </div>
            </div>
            <div class="row form-group">
                <div class="col form-group">
                    <p>
                        {{ form.submit(class_='form-control m-0 btn-primary') }}
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}