{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Registration {% endblock %}</h1>

<!-- <form method="post">
    <table>
        <colgroup>
            <col span="1" style="background-color: #D6EEEE">
        </colgroup>
        <tr> 
            <td>First Name: </td>
            <td><div class="form-group">
                <!-- <label for="fname">First Name</label> -->
                <input type="text" name="fname"
                       placeholder="First Name" class="form-control"
                       value="{{ request.form['fname'] }}"></input>
            </div></td>
        </tr>
        <tr> 
            <td>Last Name: </td>
            <td><div class="form-group">
                <!-- <label for="lname">Last Name</label> -->
                <input type="text" name="lname"
                       placeholder="Last Name" class="form-control"
                       value="{{ request.form['lname'] }}"></input>
            </div></td>
        </tr>
        <tr>
            <td>SCA Name: </td>
            <td><div class="form-group">
                <!-- <label for="scaname">SCA Name</label> -->
                <input type="text" name="scaname"
                       placeholder="SCA Name" class="form-control"
                       value="{{ request.form['scaname'] }}"></input>
            </div></td>
        </tr>
        <tr>
            <td>Membership: </td>
            <td><div class="form-group">
                <!-- <label for="rate_mbr">rate_mbr</label> -->
                <select name="rate_mbr" class="form-control">
                    {% for m in mbrdata %}
                    <option value="{{ m.mbr }}">{{ m.mbr }}</option>
                    {% endfor %}
                </select>
            </div></td>
        </tr>
        {% if rate_mbr == 'Member' %}
            <tr>
                <td>Membership Number: </td>
                <td><div class="form-group">
                    <input type="text" name="mbr_num"
                        placeholder="Membership Number" class="form-control"
                        value="{{ request.form['mbr_num'] }}"></input>
                </div></td>
            </tr>
            <tr>
                <td>Membership Expiration: </td>
                <td><div class="form-group">
                    <input type="text" name="mbr_exp"
                        placeholder="Membership Expiration" class="form-control"
                        value="{{ request.form['mbr_exp'] }}"></input>
                </div></td>
            </tr>
        {%endif%}
        <tr>
            <td>Camp Group: </td>
            <td><div class="form-group">
                <!-- <label for="lodging">Camping Group</label> -->
                <select name="lodging" class="form-control">
                    {% for l in lodgingdata %}
                    <option value="{{ l.Lodging }}">{{ l.Lodging }}</option>
                    {% endfor %}
                </select>
            </div></td>
        </tr>
     </table>
    

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form> -->
{% endblock %}