{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Registration {% endblock %}</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.fname.label }}<br>
        {{ form.fname(size=32) }}
    </p>
    <p>
        {{ form.lname.label }}<br>
        {{ form.lname(size=32) }}
    </p>
    <p>
        {{ form.scaname.label }}<br>
        {{ form.scaname(size=64) }}
    </p>
    <p>
        {{ form.rate_age.label }}<br>
        {{ form.rate_age() }}
    </p>
    <p>
        {{ form.kingdom.label }}<br>
        {{ form.kingdom() }}
    </p>
    <p>
        {{ form.lodging.label }}<br>
        {{ form.lodging() }}
    </p>
    <p>
        {{ form.rate_mbr.label }}<br>
        {{ form.rate_mbr() }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

{% endblock %}