{% extends 'base.html' %}

{% block content %}

<table id="fullExportTable" class="table table-striped">
    <thead>
        <tr>
            <th>Reg Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Signature</th>
        </tr>
    </thead>
    <tbody>
        {%for reg in regs %}
        <tr>
                <td> 
                    {{reg.id}}
                </td>
                <td> 
                    {{reg.fname}}
                </td>
                <td> 
                    {{reg.lname}}
                </td>
                <td> 
                    <img src="{{reg.signature}}" width="100" height="25"/>
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}