{% extends 'base.html' %}

{% block content %}
<h1 class="title m-0">{% block title %} Search for a Registration {% endblock %}</h1>
<div class="row m-0">
    <div class="col m-0 d-flex justify-content-center">
        <p class="text-muted m-0">There are {{regcount}} people checked in to Gulf Wars.</p>
    </div>
</div>
<div class="row m-0">
    <div class="col">
        <div class="row">
            <!-- Search -->
            <div class="col">
                <input id='name_search' class="form-control py-2 custom-input-space" placeholder="Search by Name"
                    name="search_name" value="" />
            </div>
        </div>
        <div class="row">
            <!-- Search -->
            <div class="col">
                <input id='inv_search' class="form-control py-2 custom-input-space"
                    placeholder="Search by Invoice Number" name="invoice_number" value="" />
            </div>
        </div>
        <div class="row">
            <!-- Search -->
            <div class="col">
                <input id='mbr_search' class="form-control py-2 custom-input-space"
                    placeholder="Search by Member Number" name="mbr_num" value="" />
            </div>
        </div>
        <div class="row">
            <!-- Search -->
            <div class="col">
                <input id='med_search' class="form-control py-2 custom-input-space"
                    placeholder="Search by Medallion Number" name="medallion" value="" />
            </div>
        </div>
        <div class="row">
            <!-- Search -->
            <div class="col">
                <input id='id_search' class="form-control py-2 custom-input-space"
                    placeholder="Search by ID Number" name="id" value="" />
            </div>
        </div>
        {% if current_user.has_role('Admin') or current_user.has_role('Head Troll') or
        current_user.has_role('Troll Shift Lead')%}
        <div class="row">
            <!-- Search Canceled -->
            <div class="col text-center">
                <label class="form-check-label" for="search_canceled">Include Canceled</label>
                <input type="checkbox" id="search_canceled" class="big-checkbox form-check-input py-2"
                    name="search_canceled" value="search_canceled">
            </div>
        </div>
        {% endif %}
        <div class="row m-0">
            <div class="col">
                <button class="btn btn-lg btn-primary form-control my-2" onclick="handle_search()">Search
                </button>
            </div>
        </div>
        <div class="row m-0">
            <div class="col">
                <a class="btn btn-lg btn-success form-control my-2" href="{{url_for('troll.fastpass')}}"
                    role="button">Fast Pass</a>
            </div>
        </div>
        <div class="row m-0">
            <div class="col">
                <a class="btn btn-lg btn-warning form-control my-2" href="{{url_for('registration.createatd')}}"
                    role="button">Not Registered / New</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div id="search_results" class="col">
    </div>
</div>
</body>

</html>

<script>

    const handle_search = async () => {
        const search_results = document.getElementById('search_results')
        search_results.innerHTML = ""
        const name_search = document.getElementById('name_search').value.trim();
        const inv_search = document.getElementById('inv_search').value.trim();
        const mbr_search = document.getElementById('mbr_search').value.trim();
        const med_search = document.getElementById('med_search').value.trim();
        const id_search = document.getElementById('id_search').value.trim();
        let value = ''
        if (name_search != '') {
            key = 'name'
            value = name_search;
        } else if (inv_search != '') {
            key = 'inv'
            value = inv_search;
        } else if (mbr_search != '') {
            key = 'mbr'
            value = mbr_search;
        } else if (med_search != '') {
            key = 'med'
            value = med_search;
        } else if (id_search != '') {
            key = 'id'
            value = id_search;
        }

        if (value != '') {
            let user_permission = await fetch("/api/user/permissions")
                .then((response) => response.json())
                .then((data) => {
                    let user_permission = 'view';
                    console.log(data)
                    if (data.includes('troll')) {
                        user_permission = 'troll'
                    }
                    return user_permission
                })
            await fetch("/api/registration/search/" + key + "/" + value)
                .then((response) => response.json())
                .then((data, prereg_price) => {
                    console.log(user_permission)
                    if (data.regs.length == 0) {
                        let div_row = document.createElement('div');
                        div_row.classList.add('row');
                        div_row.classList.add('mb-2');
                        let div_col = document.createElement('div');
                        div_col.classList.add('col')
                        let no_results = document.createElement('h1')
                        no_results.classList.add('text-muted')
                        no_results.innerText = "No Results"
                        div_row.appendChild(div_col)
                        div_col.appendChild(no_results)
                        search_results.appendChild(div_row);
                    }
                    for (const item of data.regs) {
                        let reg = JSON.parse(item)
                        let div_row = document.createElement('div');
                        div_row.classList.add('row');
                        div_row.classList.add('mb-2');
                        let div_col_dot = document.createElement('div');
                        div_col_dot.classList.add('col')
                        let p_muted_text = document.createElement('p');
                        p_muted_text.classList.add('text-muted')
                        let span_logged_in = document.createElement('span');
                        span_logged_in.classList.add('logged-in')
                        span_logged_in.classList.add('fs-1')
                        span_logged_in.innerText = '●'
                        if (reg.age != '18+' || reg.balance <= 0 && reg.prereg == true && reg.registration_price >= data.prereg_price) {
                            span_logged_in.style.color = 'green';
                        } else {
                            span_logged_in.style.color = 'red';
                        }
                        if (reg.checkin != null) { div_row.classList.add('reg_card_checkedin') }
                        else { div_row.classList.add('reg_card_notcheckedin') }
                        div_row.appendChild(div_col_dot);
                        div_col_dot.appendChild(p_muted_text);
                        p_muted_text.appendChild(span_logged_in);

                        let div_col_name = document.createElement('div');
                        div_col_name.classList.add('col');
                        let a_reg = document.createElement('a');
                        if (user_permission == 'troll') {
                            a_reg.href = "/troll/" + reg.id;
                        } else if (user_permission == 'view') {
                            a_reg.href = "/registration/" + reg.id;
                        }
                        let h5_name = document.createElement('h5');
                        h5_name.innerText = reg.fname + " " + reg.lname;
                        let p_scaname = document.createElement('p');
                        p_scaname.classList.add('text-muted');
                        p_scaname.innerText = reg.scaname;
                        div_col_name.appendChild(a_reg);
                        a_reg.appendChild(h5_name);
                        div_col_name.appendChild(p_scaname);
                        div_row.appendChild(div_col_name);

                        let div_col_mbr = document.createElement('div');
                        div_col_mbr.classList.add('col')
                        let p_mbrnum = document.createElement('p')
                        p_mbrnum.classList.add('text_muted')
                        p_mbrnum.innerText = 'Member Number: '
                        if (reg.mbr_num != null) { p_mbrnum.innerText += reg.mbr_num } else { p_mbrnum.innerText += '-' }
                        let p_mbrexp = document.createElement('p')
                        p_mbrnum.classList.add('text_muted')
                        p_mbrexp.innerText = 'Member Exp: '
                        if (reg.mbr_num_exp != null) { p_mbrexp.innerText += reg.mbr_num_exp } else { p_mbrexp.innerText += '-' }
                        div_col_mbr.appendChild(p_mbrnum);
                        div_col_mbr.appendChild(p_mbrexp);
                        div_row.appendChild(div_col_mbr);

                        let div_col_arr = document.createElement('div');
                        div_col_arr.classList.add('col');
                        let p_arr = document.createElement('p');
                        p_arr.classList.add('text-muted');
                        p_arr.innerText = 'Expected Arrival: ' + reg.expected_arrival_date;
                        div_col_arr.appendChild(p_arr);
                        div_row.appendChild(div_col_arr)

                        search_results.appendChild(div_row);

                        clearform();
                    }
                })
                .catch((error) => console.error("Error fetching data:", error), clearform());
        }
    };

    function clearform() {
        document.getElementById('name_search').value = ''
        document.getElementById('inv_search').value = ''
        document.getElementById('mbr_search').value = ''
        document.getElementById('med_search').value = ''
    }

</script>

{% endblock %}