{% extends 'base.html' %}

{% block content %}
<h1 class="title m-0">{% block title %} Search for a Registration {% endblock %}</h1>
<div class="row m-0">
    <div class="col m-0 d-flex justify-content-center">
        <p class="text-muted m-0">There are {{regcount}} people checked in to Gulf Wars.</p>
    </div>
</div>
<div class="row m-0">
    <div class="col">
        <form action="/" method="POST">
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2"
                           placeholder="Search by Name" name="search_name" value=""/>
                </div>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2"
                           placeholder="Search by Invoice Number" name="invoice_number" value=""/>
                </div>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2"
                           placeholder="Search by Medallion Number" name="medallion" value=""/>
                </div>
            </div>
            <div class="row m-0">
                <div class="col">
                    <button type="submit" class="btn btn-lg btn-primary form-control">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for reg in searchreg %}
        {% if reg['checkin'] %}
        <div class="row reg_card_checkedin">
        {% else %}
        <div class="row reg_card_notcheckedin">
        {% endif %}
            <div class="col">
                <a href="{{ url_for('reg', regid=reg['regid']) }}">
                    <h5>{{ reg['fname'] }} {{ reg['lname'] }}</h5>
                </a>
                <div>
                    <p class="text-muted">{{ reg['scaname'] }}</p>
                </div>
            </div>
        </div>
            <hr>
        {% endfor %}
    </div>
</div>
{% if searchreg %}


{% endif %}
</body>
</html>

{% endblock %}