{% extends 'base.html' %}

{% block content %}
<h1 class="title m-0">{% block title %} Search for a Registration {% endblock %}</h1>
<div class="row m-0">
    <div class="col m-0 d-flex justify-content-center">
        <p class="text-muted m-0">There are {{regcount}} people checked in to Gulf Wars.</p>
    </div>
</div>
<div class="row m-0">
    <div class="col">
        <form action="/" method="POST">
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2 custom-input-space"
                           placeholder="Search by Name" name="search_name" value=""/>
                </div>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2 custom-input-space"
                           placeholder="Search by Invoice Number" name="invoice_number" value=""/>
                </div>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2 custom-input-space"
                           placeholder="Search by Member Number" name="mbr_num" value=""/>
                </div>
            </div>
            <div class="row">
                <!-- Search -->
                <div class="col">
                    <input class="form-control py-2 custom-input-space"
                           placeholder="Search by Medallion Number" name="medallion" value=""/>
                </div>
            </div>
            {% if current_user.has_role('Admin') or current_user.has_role('Department Head') or current_user.has_role('Troll Shift Lead')%}
            <div class="row">
                <!-- Search Canceled -->
                <div class="col text-center">
                    <label class="form-check-label" for="search_canceled">Include Canceled</label>
                    <input type="checkbox" id="search_canceled" class="big-checkbox form-check-input py-2" name="search_canceled" value="search_canceled">
                </div>
            </div>
            {% endif %}
            <div class="row m-0">
                <div class="col">
                    <button type="submit" class="btn btn-lg btn-primary form-control my-2">Search
                    </button>
                </div>
            </div>
            <div class="row m-0">
                <div class="col">
                    <a class="btn btn-lg btn-success form-control my-2" href="{{url_for('troll.fastpass')}}" role="button">Fast Pass</a>
                </div>
            </div>
            <div class="row m-0">
                <div class="col">
                    <a class="btn btn-lg btn-warning form-control my-2" href="{{url_for('registration.createatd')}}" role="button">Not Registered / New</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        {% for reg in searchreg %}
        {% if reg['checkin'] %}
        <div class="row reg_card_checkedin">
        {% elif reg['invoice_status'] == 'CANCELED' %}
        <div class="row reg_card_canceled">
        {% else %}
        <div class="row reg_card_notcheckedin">
        {% endif %}
        <div class="col">
            <div>
                {% if reg.mbr_num_exp %}
                <p class="text-muted">
                    {% if reg.age != '18+'%}
                        <span class="logged-in fs-1" style="color: green;">●</span>
                    {% elif reg.age == '18+' and reg.balance <= 0 and reg.prereg == True and reg.registration_price >= pricesheet.prereg_price and reg.mbr_num_exp >= today %}
                    <span class="logged-in fs-1" style="color: green;">●</span>
                    {% else %}
                    <span class="logged-in fs-1" style="color: red;">●</span>
                    {% endif %}
                </p>
                {% else %}
                <p class="text-muted">
                    {% if reg.age != '18+'%}
                        <span class="logged-in fs-1" style="color: green;">●</span>
                    {% elif reg.age == '18+' and reg.balance <= 0 and reg.prereg == True and reg.registration_price >= pricesheet.prereg_price %}
                    <span class="logged-in fs-1" style="color: green;">●</span>
                    {% else %}
                    <span class="logged-in fs-1" style="color: red;">●</span>
                    {% endif %}
                </p>
                {% endif %}
            </div>
        </div>
            <div class="col">
                <a href="{{ url_for('troll.reg', regid=reg['id']) }}">
                    <h5>{{ reg['fname'] }} {{ reg['lname'] }}</h5>
                </a>
                <div>
                    <p class="text-muted">{{ reg['scaname'] }}</p>
                </div>
            </div>
            <div class="col">
                <div>
                    <p class="text-muted">Member Number: {% if reg.mbr_num %}{{ reg['mbr_num'] }}{% else %}-{% endif %}</p>
                </div>
                <div>
                    <p class="text-muted">Member Exp Date: {% if reg.mbr_num_exp %}{{ reg['mbr_num_exp'] }}{% else %}-{% endif %}</p>
                </div>
            </div>
            <div class="col">
                {% if reg.invoice %}
                <div>
                    <p class="text-muted">Invoice Number: {{reg.invoice_number}}</p>
                </div>
                <div>
                    <p class="text-muted">Invoice Status: {{reg.invoice.invoice_status}}</p>
                </div>
                {% endif %}
            </div>
            <div class="col">
                <div>
                    <p class="text-muted">Expected Arrival: {{reg['expected_arrival_date'].strftime('%m-%d-%Y')}}</p>
                </div>
            </div>
        </div>
        
            <hr>
        {% endfor %}
    </div>
</div>
</body>
</html>

{% endblock %}