{% extends "base_restricted.html" %}

{% block content %}
    <h1>{% block title %} Sign In {% endblock %}</h1>
    <h3>To register for Gulf Wars 2026 please <a href="/registration">CLICK HERE!</a></h3>
    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32, class_="form-control") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class_="form-control") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class_="form-control btn btn-primary btn-lg") }}</p>
    </form>
    
{% endblock %}