{% extends 'base.html' %}

{% block content %}

    <!-- <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endif %}
        {% endwith %}
    </div> -->

        <div class="row">
            <div class="col">
                <table class="table">
                    <colgroup>
                        <col span="1" style="background-color: #D6EEEE">
                    </colgroup>
                    <tbody>
                        <tr> 
                            <td>Name: </td>
                            <td>{{ reg['fname'] }} {{ reg['lname'] }}</td>
                        </tr>
                        <tr>
                            <td>SCA Name: </td>
                            <td>{{ reg['scaname'] }}</td>
                        </tr>
                        <tr>
                            <td>Registration ID: </td>
                            <td>{{ reg['regid'] }}</td>
                        </tr>
                        <tr>
                            <td>Age Range: </td>
                            <td>{{ reg['rate_age'] }}</td>
                        </tr>
                        <tr>
                            <td>Membership #: </td>
                            <td>{{ reg['mbr_num'] }}</td>
                        </tr>
                        <tr>
                            <td>Membership Exp: </td>
                            <td>{{ reg['mbr_num_exp'] }}</td>
                        </tr>
                        <tr>
                            <td>Kingdom: </td>
                            <td>{{ reg['kingdom'] }}</td>
                        </tr>
                        <tr>
                            <td>Camp Group: </td>
                            <td>{{ reg['lodging'] }}</td>
                        </tr>
                        <tr>
                            <td>Medallion Number: </td>
                            <td>{{ reg['medallion'] }}</td>
                        </tr>
                        <tr>
                            <td>Check-In Date: </td>
                            <td>{{ reg['checkin'].strftime('%m-%d-%Y %I:%M %p') }}</td>
                        </tr>
                        <tr>
                            <td>Waiver Signature: </td>
                                    
                            <td><img src="{{ reg['signature'] }}" class="img-fluid"></td>
                        
                        </tr>
                    </tbody>
                </table>
                <div class="row d-flex justify-content-center">
                    <h4>Incidents</h4>
                </div>
                <div class="row d-flex justify-content-center">
                    <table>
                        <thead>
                            <th>Reporting User</th>
                            <th>Incident Date/Time</th>
                            <th>Notes</th>
                        </thead>
                        <tbody>
                            {% for incident in reg.incident_report %}
                            <tr>
                                <td>{{ incident.reporting_user.fname }} {{ incident.reporting_user.lname }}</td>
                                <td>{{ incident.incident_date.strftime('%m-%d-%Y %I:%M %p') }}</td>
                                <td>{{ incident.notes }}</td>
                            </tr>   
                        {% endfor %}
                        <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#incidentModal">
                                    + New Incident
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </hr>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <form action="/martial/{{reg.regid}}" method="POST">
                        <table>
                            <thead>
                                <th>Type</th>
                                <th>Inspected</th>
                                <th>Martial</th>
                                <th>Date/Time</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Heavy</b>    
                                    </td>
                                    <td>
                                        {{form.chivalric_inspection(class_='form-control')}}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Heavy'] %}
                                            {{inspection_dict['Heavy'].inspecting_martial.fname}} {{inspection_dict['Heavy'].inspecting_martial.lname}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Heavy'] %}
                                        {{inspection_dict['Heavy'].inspection_date.strftime('%m-%d-%Y %I:%M %p')}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Heavy Spear</b>    
                                    </td>
                                    <td>
                                        {{form.chivalric_spear_inspection(class_='form-control')}}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Heavy Spear'] %}
                                            {{inspection_dict['Heavy Spear'].inspecting_martial.fname}} {{inspection_dict['Heavy Spear'].inspecting_martial.lname}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Heavy Spear'] %}
                                        {{inspection_dict['Heavy Spear'].inspection_date.strftime('%m-%d-%Y %I:%M %p')}}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Rapier</b>
                                    </td>
                                    <td>
                                        {{form.rapier_inspection(class_='form-control')}}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Rapier'] %}
                                        {{inspection_dict['Rapier'].inspecting_martial.fname}} {{inspection_dict['Rapier'].inspecting_martial.lname}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Rapier'] %}
                                        {{inspection_dict['Rapier'].inspection_date.strftime('%m-%d-%Y %I:%M %p')}}
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Rapier Spear</b>
                                    </td>
                                    <td>
                                        {{form.rapier_spear_inspection(class_='form-control')}}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Rapier Spear'] %}
                                        {{inspection_dict['Rapier Spear'].inspecting_martial.fname}} {{inspection_dict['Rapier Spear'].inspecting_martial.lname}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Rapier Spear'] %}
                                        {{inspection_dict['Rapier Spear'].inspection_date.strftime('%m-%d-%Y %I:%M %p')}}
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>Combat Archery</b>
                                    </td>
                                    <td>
                                        {{form.combat_archery_inspection(class_='form-control')}}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Combat Archery'] %}
                                        {{inspection_dict['Combat Archery'].inspecting_martial.fname}} {{inspection_dict['Combat Archery'].inspecting_martial.lname}}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if inspection_dict['Combat Archery'] %}
                                        {{inspection_dict['Combat Archery'].inspection_date.strftime('%m-%d-%Y %I:%M %p')}}
                                    {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <p>{{ form.submit(class_='form-control btn-primary btn-lg') }}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="row d-flex justify-content-center">
                    <h4>Bows</h4>
                </div>
                <div class="row d-flex justify-content-center">
                    <table>
                        <thead>
                            <th>Poundage</th>
                            <th>Martial</th>
                            <th>Date/Time</th>
                        </thead>
                        <tbody>
                            {% for bow in reg.bows %}
                            <tr>
                                <td>{{ bow.poundage }}</td>
                                <td>{{ bow.bow_inspection_martial.fname}} {{bow.bow_inspection_martial.lname}}</td>
                                <td>{{ bow.bow_inspection_date.strftime('%m-%d-%Y %I:%M %p')}}</td>
                            </tr>   
                        {% endfor %}
                        <tr>
                            <td colspan="3">
                                <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#bowModal">
                                    + Add Bow
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </hr>
                </div>
                <div class="row d-flex justify-content-center">
                    <h4>Crossbows</h4>
                </div>
                <div class="row d-flex justify-content-center">
                    <table>
                        <thead>
                            <th>Inch/Pounds</th>
                            <th>Martial</th>
                            <th>Date/Time</th>
                        </thead>
                        <tbody>
                            {% for crossbow in reg.crossbows %}
                            <tr>
                                <td>{{ crossbow.inchpounds }}</td>
                                <td>{{ crossbow.crossbow_inspection_martial.username}}</td>
                                <td>{{ crossbow.crossbow_inspection_date.strftime('%m-%d-%Y %I:%M %p')}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#crossbowModal">
                                        + Add Crossbow
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  
  <!-- Modal -->
  <div class="modal fade" id="bowModal" tabindex="-1" role="dialog" aria-labelledby="bowModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="bowModalLabel">New Bow</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/martial/{{reg.regid}}/addbow" method="POST">
                <b>{{bow_form.poundage.label}}</b>
                {{bow_form.poundage(class_='form-control')}}
                {{bow_form.submit(class_='form-control btn-primary')}}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
    <div class="modal fade" id="crossbowModal" tabindex="-1" role="dialog" aria-labelledby="crossbowModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="crossbowModalLabel">New Crossbow</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/martial/{{reg.regid}}/addcrossbow" method="POST">
                    <b>{{bow_form.poundage.label}}</b>
                    {{bow_form.poundage(class_='form-control')}}
                    {{bow_form.submit(class_='form-control btn-primary')}}
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

          <!-- Incident Modal -->
    <div class="modal fade" id="incidentModal" tabindex="-1" role="dialog" aria-labelledby="incidentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="incidentModalLabel">New Crossbow</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form action="/martial/{{reg.regid}}/addincident" method="POST">
                    <b>{{incident_form.incident_date.label}}</b>
                    {{incident_form.incident_date(class_='form-control')}}
                    <b>{{incident_form.notes.label}}</b>
                    {{incident_form.notes(class_='form-control')}}
                    {{incident_form.submit(class_='form-control btn-primary')}}
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

        
{% endblock %}