{% extends 'base.html' %}

{% block content %}

    <!-- <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endif %}
        {% endwith %}
    </div> -->

    <table>
        <colgroup>
            <col span="1" style="background-color: #D6EEEE">
        </colgroup>
        <tr> 
            <td>Name: </td>
            <td>{{ reg['fname'] }} {{ reg['lname'] }}</td>
        </tr>
        <tr>
            <td>SCA Name: </td>
            <td>{{ reg['scaname'] }}</td>
        </tr>
        <tr>
            <td>Registration ID: </td>
            <td>{{ reg['regid'] }}</td>
        </tr>
        <tr>
            <td>Pre-reg Order ID: </td>
            <td>{{ reg['order_id'] }}</td>
        </tr>
        <tr>
            <td>Age Range: </td>
            <td>{{ reg['rate_age'] }}</td>
        </tr>
        <tr>
            <td>Membership: </td>
            <td>{{ reg['rate_mbr'] }}</td>
        </tr>
        <tr>
            <td>Kingdom: </td>
            <td>{{ reg['kingdom'] }}</td>
        </tr>
        <tr>
            <td>Camp Group: </td>
            <td>{{ reg['lodging'] }}</td>
        </tr>
        <tr>
            <td>Medallion Number: </td>
            <td>{{ reg['medallion'] }}</td>
        </tr>
        <tr>
            <td>Check-In Date: </td>
            <td>{{ reg['checkin'] }}</td>
        </tr>
        <tr>
            <td>Waiver Signature: </td>
                      
            <td><img src="{{ reg['signature'] }}"> </td>
        
        </tr>
    </table>
    <br>
    <h5>Cost</h5>
    <table>
        <tr>
            <th>Registration Price</th>
            <th>Amount Paid</th>
            <th>Amount Due</th>
        </tr>
        <tr>
            <td>{{ reg['price_calc'] }}</td>
            <td>{{ reg['price_paid'] }}</td>
            <td>{{ reg['price_due'] }}</td>
        </tr>
    </table>
   

    {% if not reg['signature'] %}
        <br>
        <form method="post">
        <div class="btn btn-primary">
            <input type="submit" name="action" value="waiver">
        </div>
        </form>
    {% endif %}

    {% if (not reg['checkin']) and (reg['signature']) %}
        <br>
        <form method="post">
        <a href="/checkin">
            <button type="submit" name="action" value="checkin" class="btn btn-primary">Check-In</button>
        </a>
        </form>
    {% endif %}
    
    {% if reg['checkin'] %}
        <br>
        <p>
        <input value='Print' type='button' class="btn btn-primary" onclick='handlePrint()' />
        <script type="text/javascript">
        const handlePrint = () => {
            var actContents = document.body.innerHTML;
            document.body.innerHTML = actContents;
            window.print();
            window.print();
        }
        </script>
        </p>
        <br>
        <p>
        <a href="/">
            <button type="submit" class="btn btn-primary">Home</button>
        </a>
        </p>
    {%endif%}

    <br>
    <form action="" method="post">
    <div class="panel-body">
        <input type="submit" name="action" value="Edit">
    </div>
    </form>
        <!-- <br>
        <form method="post">
        <a href="/editreg">
            <button type="submit" name="action" value="editreg" class="btn btn-primary">Edit</button>
        </a>
        </form> -->
    
   
   
{% endblock %}