{% extends 'base.html' %}

{% block content %}


<form action="" method="post" novalidate enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
        {{ form.report_type.label }}<br>
        {{ form.report_type() }}
    </p>
    <p>
        {{ form.dt_start.label }}<br>
        {{ form.dt_start() }}
    </p>
    <p>
        {{ form.dt_end.label }}<br>
        {{ form.dt_end() }}
    </p>
    <p> For PayPal Recon </p>
    <input type="file" name="paypal_file" id="paypal_file" />  
    <p>{{ form.submit() }}</p>
    </form>

{% endblock %}