{% extends 'base.html' %}

{% block content %}

<div class=WordSection1>

    <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
    line-height:normal'><b>SOCIETY FOR CREATIVE ANACHRONISM, INC.<o:p></o:p></b></p>
    
    <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
    line-height:normal'><b>P.O. Box 360789. Milpitas, California 95036-0789. Tel
    (408) 263-9305. Fax (408) 263-0641<o:p></o:p></b></p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
    style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>
    
    <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
    line-height:normal'><b>State of Mississippi Liability Form<o:p></o:p></b></p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
    style='font-size:10.0pt'>The Equine Activity Liability laws of the State of
    Mississippi, as may be amended from time to time, § 95-11-7, state among
    its statutory provisions that "WARNING Under Mississippi law, an equine or
    livestock activity sponsor or an equine or livestock professional is not liable
    for an injury to or the death of a participant in equine activities or
    livestock shows resulting from the inherent risks of equine activities or
    livestock shows, pursuant to this chapter.</span></p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
    style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>
    
    <p class=MsoNormal align=center style='margin-bottom:0in;text-align:center;
    line-height:normal'><b>WAIVER AND INFORMED CONSENT TO PARTICIPATE AND RELEASE
    LIABILITY IN SCA ACTIVITIES WHICH MAY INCLUDE EQUESTRIAN ACTIVITIES<o:p></o:p></b></p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
    style='font-size:8.0pt'><o:p>&nbsp;</o:p></span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'><span
    style='font-size:10.0pt'>I, the undersigned, do hereby state that I wish to
    participate in activities sponsored by the Society for Creative Anachronism,
    Inc., affiliated organizations, and subsidiaries (hereafter collectively the
    "SCA"), which may include being present at or participating in, however slight,
    equestrian activities at events held by the SCA.</span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'><span
    style='font-size:10.0pt'>The SCA has rules which govern and may restrict the
    activities in which I can participate. These rules include, but are not limited
    to: Corpora, Corporate Policies and By-Laws, officer handbooks, the various
    kingdom laws, and the rules for combat and equestrian related activities. I
    agree to be bound by the rules of the SCA and any site that an SCA event is
    held at.  I acknowledge that I am fully
    aware of the nature, purpose, and risks of these activities of the SCA
    (including equine activities). I further acknowledge that these activities are
    VOLUNTARY and that I do not have to participate unless I choose to do so. I
    understand that these activities are potentially dangerous and that I
    voluntarily accept any of the inherent risks involved, including risk of injury
    to myself or damage to my property. The SCA makes no representations or claims
    as to the condition or safety of land, structures, or surroundings, whether or
    not owned, leased, or maintained by the SCA.</span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'><span
    style='font-size:10.0pt'>I agree to obey the directions of the marshals and
    other governing officials of SCA activities. In the event of any disagreements
    or disputes arising from my taking part in these activities, I agree to the
    dispute resolution procedures set forth in Corpora or any handbooks promulgated
    by the SCA.</span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'><span
    style='font-size:10.0pt'>In exchange for allowing me to participate in these
    SCA activities and events, I agree to release from liability, agree to
    indemnify and hold harmless the SCA, and any SCA agent, officer, or SCA
    employee acting within the scope of their duties, for any injury to my person
    or damage to my property, even if the same may have been contributed to or
    occasioned by the negligence of the above.</span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'><span
    style='font-size:10.0pt'>It is understood and agreed that this agreement is to
    be binding upon myself, my heirs, executors, and assigns. I understand that the
    SCA does NOT provide any insurance coverage for my person or my property. I
    acknowledge that I am responsible for my safety, my own health care needs, and
    for the protection of my property. I have read the statements in this document.
    I agree with its terms and have voluntarily signed it. I understand that this
    document is complete unto itself and that any oral promises or representations
    made to me concerning this document and/or its terms are not binding upon the
    SCA, its officers, agents, and/or employees.</span></p>
    
    <p class=MsoNormal style='margin-bottom:4.0pt;line-height:normal'>I UNDERSTAND
    THAT THIS IS A LEGAL DOCUMENT. I HAVE READ AND UNDERSTOOD THIS RELEASE AND I
    UNDERSTAND ALL ITS TERMS. I EXECUTE IT VOLUNTARILY AND WITH FULL KNOWLEDGE OF
    ITS MEANING AND SIGNFICANCE.</p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><span
    class=SpellE>EqMIC</span> <u>Amanda Schmalz</u><span style='mso-spacerun:yes'>"
    </span>EVENT <u>Gulf Wars </u>DATE <u>3/9-3/16/2024<o:p></o:p></u></p>
    
    <p class=MsoNormal style='margin-bottom:0in;line-height:normal'><o:p>&nbsp;</o:p></p>
    
    <p class=MsoNormal><o:p>&nbsp;</o:p></p>
    
    </div>
    

<div id="signature-pad" class="signature-pad">
    <div class="signature-pad--body">
      <canvas width="600" style="touch-action: none; user-select: none;" height="200"></canvas>
    </div>
    <div class="column">
        
        <button type="submit" class="button save" form="WaiverForm" data-action="save-svg">Submit</button>
        
    </div>
    <form action="" method="post" novalidate id="WaiverForm">
        {{ form.hidden_tag() }}
        <p>{{ form.signature }}</p>

    </form>
    
</div>


  
<!-- Canvas:
<div id="signature"></div>
Output:
<div id="someelement">Test</div>
<div><p>Display Area:</p><div id="displayarea"></div></div>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>{{ form.signature() }}</p>
  
    <p>{{ form.submit() }}</p> -->

{% endblock %}

{% block script %}

<script>
    const wrapper = document.getElementById("signature-pad");
    const saveSVGButton = wrapper.querySelector("[data-action=save-svg]");
    const submitButton = wrapper.querySelector("[data-action=save-svg]");
    var canvas = document.querySelector("canvas");

    var signaturePad = new SignaturePad(canvas);
   


    

    saveSVGButton.addEventListener("click", () => {
    if (signaturePad.isEmpty()) {
    alert("Please provide a signature first.");
    } else {
    const dataURL = signaturePad.toDataURL('image/svg+xml');
    var signature = document.getElementById('signature').value;

    document.getElementById('signature').value = dataURL;
    console.log(signature)

    }
});

    //var i = signaturePad.toDataURL("image/svg+xml"); // save image as SVG data url

  

  </script>

  {% endblock %}